@charset "UTF-8";

:root {
  --color-primary: #8b9bac;
  --color-secondary: #40455a;
  --color-third: #384859;
  --color-main: #00a7ed;
  --hover: #633CE0;
  --disabled: #DFE3E6;
  --color-success: var(--color-primary);
  --color-warning: #ffca57;
  --color-error: #e33535;
  --color-info: #57b9ff;
  --stroke-primary: #EFEFEF;
  --stroke-secondary: #E5E5E5;
  --stroke-third: #F8F8F8;
  --font-primary: #d0d0d0;
  --font-secondary: #505050;
  --font-third: #666666;
  --font-disabled: #D7D7D7;
  --shadow-primary: 0px 8px 20px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 2px 2px 20px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.04);
  --scroll-fg-secondary: #b0b8c1;
  --scroll-bg-secondary: #e0e3e8;
  --blue-08: #194185;
  --blue-07: #1849a9;
  --blue-06: #175cd3;
  --blue-05: #1570ef;
  --blue-04: #2e90fa;
  --blue-03: #53b1fd;
  --blue-02: #84caff;
  --blue-01: #d1e9ff;
  --blue-00: #eff8ff;
  --gray-11: #1D1929;
  --gray-10: #34303e;
  --gray-09: #4A4754;
  --gray-08: #615E69;
  --gray-07: #77757f;
  --gray-06: #8E8C94;
  --gray-04: #BBBABF;
  --gray-03: #d2d1d4;
  --gray-02: #E8E8EA;
  --gray-01: #E8E8Ea;
  --gray-00: #737373;
  --red-04: #D92D20;
  --red-05: #B42318;
  --red-00: #F4301A;
  --border: #696969;
  --green-01: #039855;
  --green-02: #027A48;
  --green-03: #05603A;
  --header-height: 66px;
  --bg-00: black;
  --bg-01: var(--gray-00);
  --bg-primary: var(--color-primary);
  --bg-secondary: var(--color-secondary);
  --bg-third: var(--color-third);
  --bg-success: var(--color-success);
  --bg-warning: var(--color-warning);
  --bg-error: var(--color-error);
  --bg-info: var(--color-info);
  --bg-light: var(--disabled);
  --fg-primary: white;
  --fg-secondary: white;
  --fg-third: white;
  --fg-success: white;
  --fg-warning: white;
  --fg-error: white;
  --fg-info: white;
  --fg-light: var(--font-secondary);
  --fg-footer: #7c8797;
  --fg-footer2: #ecf1fd;
  --bg-header: var(--bg-secondary);
  --bg-footer: var(--bg-secondary);
  --gradient-primary: linear-gradient(-120deg, var(--color-primary), var(--color-third));
  --min-width: 1600px;
  --filter1: hue-rotate(280deg);
}

html {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-style: normal;
  color: var(--font-primary);
  /* background: var(--bg-00); */
  overflow: overlay;
}

button,
.btn {
  cursor: pointer;
  border: none;
}

input[readonly] {
  background: var(--bg-01);
}

[type=checkbox]+label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  /* display: inline-block; */
  height: 15px;
  font-size: 1rem
}

[type=checkbox]:checked+label:before {
  top: -2px;
  left: -2px;
  width: 10px;
  height: 20px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #2196F3;
  border-bottom: 2px solid #2196F3;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type=checkbox]:not(.filled-in)+label:after {
  border: 0;
  -webkit-transform: scale(0);
  transform: scale(0)
}

[type=checkbox]+label:before, [type=checkbox]:not(.filled-in)+label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 1px solid #a39c9c;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s
}

[type=checkbox]:checked+label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 9px;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 24px;
}

option {
  color: black;
}

table {
  width: 100%;
}

table tr, table th, table td {
  text-align: center;
  border: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  /* border-left: solid 1px rgba(255, 255, 255, 0.1); */
  /* opacity: .5; */
  background-color: rgba(127, 127, 127, 0.1);
}

::-webkit-scrollbar:hover {
  background-color: rgba(127, 127, 127, 0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-primary);
  border: none;
  /*border-radius: 3px;*/
}

::-webkit-scrollbar-corner {
  background-color: rgba(127, 127, 127, 0.1);
}

::-webkit-scrollbar-corner:hover {
  background-color: rgba(127, 127, 127, 0.3);
}

select::-webkit-scrollbar {
  background-color: rgba(127, 127, 127, 0.1);
}

select::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.3);
  border-radius: 3px;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.antialias {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* text align */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* width */
.w_100 {
  width: 100%;
}

.w_50 {
  width: 50%;
}

/* margin typography */
.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

/* flex alignment */
.flex-start {
  -webkit-justify-content: start !important;
  justify-content: start !important;
}

.flex-center {
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.flex-end {
  -webkit-justify-content: end !important;
  justify-content: end !important;
}

/* buttons */
.btn-txt {
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  border-radius: 10em;
  padding: 0 1.2em;
  width: -webkit-fit-content;
  width: fit-content;
  display: inline-block;
  color: var(--font-primary);
  background-color: var(--bg-00);
  text-align: center;
}

.btn-mat {
  border: none;
  border-radius: 10em;
  text-align: center;
  box-shadow: var(--shadow-primary);
  background: var(--color-primary);
  font-size: 1em;
  padding: 0.9em 1em;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  transition: 0.2s all;
}

.btn-mat:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-mat:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.badge {
  font-size: 0.9em;
  padding: 0.3em 0.6em;
  white-space: nowrap;
  border-radius: min(5px, 0.4em);
}

.badge>span {
  margin: 0.25em 0;
}

.btn-primary, .badge-primary {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
}

.btn-primary-line {
  color: var(--bg-primary);
  background-color: transparent;
  border: 2px solid;
}

.btn-primary-line:hover, .btn-primary-line.active {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

.btn-secondary, .badge-secondary {
  color: var(--fg-secondary);
  background-color: var(--bg-secondary);
}

.btn-secondary-line {
  color: var(--bg-secondary);
  background-color: transparent;
  border: 2px solid;
}

.btn-secondary-line:hover, .btn-secondary-line.active {
  color: var(--fg-secondary);
  background-color: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

.btn-third, .badge-third {
  color: var(--fg-third);
  background-color: var(--bg-third);
}

.btn-third-line {
  color: var(--bg-third);
  background-color: transparent;
  border: 2px solid;
}

.btn-third-line:hover, .btn-third-line.active {
  color: var(--fg-third);
  background-color: var(--bg-third);
  border-color: var(--bg-third);
}

.btn-success, .badge-success {
  color: var(--fg-success);
  background-color: var(--bg-success);
}

.btn-success-line {
  color: var(--bg-success);
  background-color: transparent;
  border: 2px solid;
}

.btn-success-line:hover, .btn-success-line.active {
  color: var(--fg-success);
  background-color: var(--bg-success);
  border-color: var(--bg-success);
}

.btn-warning, .badge-warning {
  color: var(--fg-warning);
  background-color: var(--bg-warning);
}

.btn-warning-line {
  color: var(--bg-warning);
  background-color: transparent;
  border: 2px solid;
}

.btn-warning-line:hover, .btn-warning-line.active {
  color: var(--fg-warning);
  background-color: var(--bg-warning);
  border-color: var(--bg-warning);
}

.btn-error, .badge-error {
  color: var(--fg-error);
  background-color: var(--bg-error);
}

.btn-error-line {
  color: var(--bg-error);
  background-color: transparent;
  border: 2px solid;
}

.btn-error-line:hover, .btn-error-line.active {
  color: var(--fg-error);
  background-color: var(--bg-error);
  border-color: var(--bg-error);
}

.btn-info, .badge-info {
  color: var(--fg-info);
  background-color: var(--bg-info);
}

.btn-info-line {
  color: var(--bg-info);
  background-color: transparent;
  border: 2px solid;
}

.btn-info-line:hover, .btn-info-line.active {
  color: var(--fg-info);
  background-color: var(--bg-info);
  border-color: var(--bg-info);
}

.btn-light, .badge-light {
  color: var(--fg-light);
  background-color: var(--bg-light);
}

.btn-light-line {
  color: var(--bg-light);
  background-color: transparent;
  border: 2px solid;
}

.btn-light-line:hover, .btn-light-line.active {
  color: var(--fg-light);
  background-color: var(--bg-light);
  border-color: var(--bg-light);
}

.btn-disabled {
  color: var(--font-third);
  background-color: var(--disabled);
}

.darken-hover {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.darken-hover:hover::before, .darken-hover.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------
	 공지팝업
-------------------------------*/
.notice_popup_area {
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  overflow-y: scroll;
}

.notice_popup_area .popup_wrapper {
  position: absolute;
  top: 100px;
  left: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: var(--popup-area-height);
  z-index: 100;
}

.notice_popup_area .popup_wrapper .notice_popup {
  position: relative;
  z-index: 1;
  padding: 10px;
  min-width: 250px;
  min-height: 300px;
  margin-bottom: var(--popup-area-height);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--bg-header);
  position: relative;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_header .img-overlay {
  height: 100%;
  -webkit-mask-image: url(../images/common/logo.png);
  mask-image: url(../images/common/logo.png);
  background: white;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_header img {
  height: 60%;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_header button {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  color: white;
  display: grid;
  place-content: center;
  font-size: 1.2em;
}

.notice_popup_area .popup_wrapper .notice_popup * {
  max-width: 100%;
}

.notice_popup_area .popup_wrapper .notice_popup .no-padding p {
  margin-bottom: 0;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_box {
  background-color: var(--font-primary);
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_box .notice_popup_font1 {
  float: left;
  width: 100%;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #96a6bf;
  line-height: 40px;
  text-align: center;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_box .notice_popup_font2 {
  float: left;
  width: 100%;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 28px;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_footer {
  height: 72px;
  background: var(--color-secondary);
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.notice_popup_area .popup_wrapper .notice_popup>.pop_footer button {
  border-radius: 12px;
  padding: 8px 12px;
  border: 0;
  background: #7c8797;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

button.styled,
.btn.styled {
  cursor: pointer;
  background-size: 100% 110%;
  background-image: url(../images/common/button1.png);
  color: var(--font-secondary);
  width: 160px;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 18px;
  transition: 0.2s all ease;
}

button.styled.active, button.styled:hover,
.btn.styled.active,
.btn.styled:hover {
  background-image: url(../images/common/button2.png);
  color: white;
}

button.styled.active:not(.tab-btn):hover,
.btn.styled.active:not(.tab-btn):hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

button.styled.disabled,
.btn.styled.disabled {
  opacity: initial;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.btn-game-item {
  width: 82px;
}

.btn-game-item.inspection {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.btn-game-item .img_box {
  width: 100%;
  height: 92px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 3;
}

.btn-game-item .img_box .btn-icon {
  width: 40px;
  height: 40px;
  margin-top: 22px;
  background-repeat: no-repeat;
}

.btn-game-item .img_box:before {
  content: "";
  z-index: -1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  background-image: url(../images/common/btn_bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.btn-game-item .img_box:hover, .btn-game-item .img_box.active {
  -webkit-animation: pc_Kk 0.5s ease forwards;
  animation: pc_Kk 0.5s ease forwards;
}

.btn-game-item .img_box:hover:before, .btn-game-item .img_box.active:before {
  background-image: url(../images/common/btn_bg_on.png);
}

.btn-game-item .name {
  position: relative;
  font-size: 16px;
  color: var(--font-primary);
  text-align: center;
  /* word-break: keep-all; */
}

/*-------------------------------------------------------------------------------------*
 * Clearable text inputs                                                               *
 *-------------------------------------------------------------------------------------*/
.clearable {
  position: relative;
  font-size: max(0.6em, 0.75rem);
  /* display: inline-block; */
}

.clearable input {
  width: 100%;
  padding-right: 2em;
  box-sizing: border-box;
}

.clearable input:placeholder-shown {
  background-image: url("data:image/svg+xml,%3Csvg%20style%3D%22color%3A%20rgb(204%2C%20204%2C%20204)%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-search%22%20viewBox%3D%220%200%2016%2016%22%3E%20%3Cpath%20d%3D%22M11.742%2010.344a6.5%206.5%200%201%200-1.397%201.398h-.001c.03.04.062.078.098.115l3.85%203.85a1%201%200%200%200%201.415-1.414l-3.85-3.85a1.007%201.007%200%200%200-.115-.1zM12%206.5a5.5%205.5%200%201%201-11%200%205.5%205.5%200%200%201%2011%200z%22%20fill%3D%22%23cccccc%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 1em;
}

.clearable input:placeholder-shown+button {
  opacity: 0;
  pointer-events: none;
}

.clearable input+button {
  position: absolute;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.2em;
  border-radius: 50%;
  top: 0;
  text-align: center;
  bottom: 0;
  right: 5px;
  margin: auto;
  color: #bbb;
  border: 1px solid;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.hide {
  display: none !important;
}

.hide-force {
  display: none !important;
}

/* 회원레벨, 닉네임 함께 현시 */
.user-label {
  display: inline-flex;
  align-items: center;
}

.user-label img {
  max-height: 1.5em;
}

/* 댓글입력 */
.content-editable {
  border: 2px solid #999;
  border-radius: 3px;
  background: rgb(127 127 127 / 40%);
  padding: 10px;
  text-align: left;
  line-height: 1.5;
  display: block;
}

/* Captcha 설정 */
.img-captcha {
  cursor: pointer;
}