@font-face {
	font-family: icomoon;
	src: url(../font/icomoon2.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
	font-family: icomoon !important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icconVIVO:before {
	content: "\e9fb";
}

.icon-icconGPI:before {
	content: "\e9fa";
}

.icon-iconTG:before {
	content: "\e9f9";
}

.icon-icconCQ9:before {
	content: "\e9f8";
}

.icon-icconKALAMBA:before {
	content: "\e9d7";
}

.icon-icconIRONDOG:before {
	content: "\e9d8";
}

.icon-icconHACKSAW:before {
	content: "\e9d9";
}

.icon-icconGAMEZIX:before {
	content: "\e9da";
}

.icon-icconGAMEFISH:before {
	content: "\e9db";
}

.icon-icconGAMEART:before {
	content: "\e9dc";
}

.icon-icconUGASO:before {
	content: "\e9dd";
}

.icon-icconFANTASMA:before {
	content: "\e9de";
}

.icon-icconELK:before {
	content: "\e9df";
}

.icon-icconDRAGON:before {
	content: "\e9e0";
}

.icon-icconBOOONGO:before {
	content: "\e9e1";
}

.icon-icconBLUEPRINT:before {
	content: "\e9e2";
}

.icon-iccon1x2:before {
	content: "\e9e3";
}

.icon-icconARROW:before {
	content: "\e9e4";
}

.icon-icconYGGDRASIL:before {
	content: "\e9e5";
}

.icon-icconWOOHOO:before {
	content: "\e9e6";
}

.icon-icconWAZDAN:before {
	content: "\e9e7";
}

.icon-icconTHUNDERKICK:before {
	content: "\e9e8";
}

.icon-icconSPEARHEAD:before {
	content: "\e9e9";
}

.icon-icconSLOTMILL:before {
	content: "\e9ea";
}

.icon-icconSKYWIND:before {
	content: "\e9eb";
}

.icon-icconRTG:before {
	content: "\e9ec";
}

.icon-icconREVOLVER:before {
	content: "\e9ed";
}

.icon-icconRELAX:before {
	content: "\e9ee";
}

.icon-icconQUICKSPIN:before {
	content: "\e9ef";
}

.icon-icconPUSH:before {
	content: "\e9f0";
}

.icon-icconPP1:before {
	content: "\e9f1";
}

.icon-icconONETOUCH:before {
	content: "\e9f2";
}

.icon-icconNOLIMIT:before {
	content: "\e9f3";
}

.icon-icconNETGAME:before {
	content: "\e9f4";
}

.icon-icconMOBILIOTS:before {
	content: "\e9f5";
}

.icon-icconMAVERICK:before {
	content: "\e9f6";
}

.icon-icconLADYLUCK01:before {
	content: "\e9f7";
}

.icon-icconAMEBA:before {
	content: "\e9d5";
}

.icon-icconTPG:before {
	content: "\e9d6";
}

.icon-icconYX:before {
	content: "\e9d4";
}

.icon-icconJDB:before {
	content: "\e9d3";
}

.icon-icconTIME:before {
	content: "\e9d2";
}

.icon-icconEVO:before {
	content: "\e9d0";
}

.icon-icconBBIN:before {
	content: "\e9d1";
}

.icon-icconEvo:before {
	content: "\e9cf";
}

.icon-icconBbin:before {
	content: "\e9ce";
}

.icon-icconMemberAsk:before {
	content: "\e9cd";
}

.icon-icconAE:before {
	content: "\e9cc";
}

.icon-icconJILI:before {
	content: "\e9cb";
}

.icon-icconSG:before {
	content: "\e9c9";
}

.icon-icconMore:before {
	content: "\e9ca";
}

.icon-icon-icconQM01:before {
	content: "\e9c8";
}

.icon-icon-icconLink:before {
	content: "\e9c6";
}

.icon-icon-icconReferral:before {
	content: "\e9c7";
}

.icon-icon-icconBG:before {
	content: "\e9c5";
}

.icon-icon-icconFailed:before {
	content: "\e9c4";
}

.icon-icon-icconExclamation02:before {
	content: "\e9c3";
}

.icon-icon-icconSearch:before {
	content: "\e9c2";
}

.icon-icon-icconGPL:before {
	content: "\e9c1";
}

.icon-icon-icconGROUND00:before {
	content: "\e9c0";
}

.icon-icon-icconCoin:before {
	content: "\e9bf";
}

.icon-icon-icconGendar:before {
	content: "\e9be";
}

.icon-icon-icconGROUND07:before {
	content: "\e9bd";
}

.icon-icon-icconNO:before {
	content: "\e9bc";
}

.icon-icon-icconGROUND06:before {
	content: "\e9ba";
}

.icon-icon-icconGROUND05:before {
	content: "\e9b9";
}

.icon-icon-icconPLAY01:before {
	content: "\e9bb";
}

.icon-icon-icconGROUND04:before {
	content: "\e9b1";
}

.icon-icon-icconGROUND03:before {
	content: "\e9b2";
}

.icon-icon-icconGROUND02:before {
	content: "\e9b3";
}

.icon-icon-icconGROUND01:before {
	content: "\e9b4";
}

.icon-icon-icconBALL04:before {
	content: "\e9b5";
}

.icon-icon-icconBALL03:before {
	content: "\e9b6";
}

.icon-icon-icconBALL02:before {
	content: "\e9b7";
}

.icon-icon-icconBALL01:before {
	content: "\e9b8";
}

.icon-icon-icconIDN01:before {
	content: "\e9b0";
}

.icon-icconEDIT:before {
	content: "\e9af";
}

.icon-icconWARNING:before {
	content: "\e9ab";
}

.icon-fa-star1:before {
	content: "\e9ad";
}

.icon-fa-star-o1:before {
	content: "\e9ae";
}

.icon-icconMoneyKOREA:before {
	content: "\e9aa";
}

.icon-icconEV:before {
	content: "\e9a5";
}

.icon-icconAB:before {
	content: "\e9a6";
}

.icon-icconOG:before {
	content: "\e9a7";
}

.icon-icconDG:before {
	content: "\e9a8";
}

.icon-icconWM:before {
	content: "\e9a9";
}

.icon-icconSPORT:before {
	content: "\e9a3";
}

.icon-icconVR1:before {
	content: "\e9a4";
}

.icon-icconAAROWup:before {
	content: "\e9a1";
}

.icon-icconAAROWdown:before {
	content: "\e9a2";
}

.icon-icconLIVE:before {
	content: "\e99e";
}

.icon-icconJUMP:before {
	content: "\e99f";
}

.icon-icconLIVEA:before {
	content: "\e9a0";
}

.icon-icconMEGA:before {
	content: "\e99d";
}

.icon-icconMENU:before {
	content: "\e99c";
}

.icon-icconPOKER01:before {
	content: "\e90e";
}

.icon-icconPOKER02:before {
	content: "\e999";
}

.icon-icconPOKER03:before {
	content: "\e99a";
}

.icon-icconPOKER04:before {
	content: "\e99b";
}

.icon-icon-iconTime:before {
	content: "\e998";
}

.icon-icconVERIFI:before {
	content: "\e996";
}

.icon-icconRECOMMEND:before {
	content: "\e997";
}

.icon-icconMan:before {
	content: "\e98b";
}

.icon-icconMan01:before {
	content: "\e98c";
}

.icon-icconPW:before {
	content: "\e98d";
}

.icon-icconPW011:before {
	content: "\e98e";
}

.icon-icconCALENDAR:before {
	content: "\e98f";
}

.icon-icconMOBILE1:before {
	content: "\e990";
}

.icon-icconPARTNER:before {
	content: "\e991";
}

.icon-icconBANK1:before {
	content: "\e992";
}

.icon-icconCHECK:before {
	content: "\e993";
}

.icon-icconPC:before {
	content: "\e994";
}

.icon-icconMailoPEN:before {
	content: "\e995";
}

.icon-icconPlay:before {
	content: "\e980";
}

.icon-icconFAQ:before {
	content: "\e981";
}

.icon-icconPW01:before {
	content: "\e982";
}

.icon-icconPW02:before {
	content: "\e983";
}

.icon-icconPW03:before {
	content: "\e984";
}

.icon-icconMOBILE:before {
	content: "\e985";
}

.icon-icconCARRIER:before {
	content: "\e986";
}

.icon-icconACCOUNT:before {
	content: "\e987";
}

.icon-icconBANK:before {
	content: "\e988";
}

.icon-icconCARD:before {
	content: "\e989";
}

.icon-icconSubscript:before {
	content: "\e98a";
}

.icon-iconExclamation01:before {
	content: "\e97f";
}

.icon-icconInfo02:before {
	content: "\e97e";
}

.icon-icconMailList01:before {
	content: "\e97a";
}

.icon-icconMailCheck01:before {
	content: "\e97b";
}

.icon-icconMail01a:before {
	content: "\e97c";
}

.icon-icconMail02a:before {
	content: "\e97d";
}

.icon-icconArrow02:before {
	content: "\e979";
}

.icon-icconX02:before {
	content: "\e978";
}

.icon-icconCheck01:before {
	content: "\e976";
}

.icon-icconCheck02:before {
	content: "\e977";
}

.icon-icconDbonus:before {
	content: "\e974";
}

.icon-icconVip:before {
	content: "\e975";
}

.icon-icconChecking:before {
	content: "\e973";
}

.icon-icconALLnew:before {
	content: "\e972";
}

.icon-BetradarVFAS:before {
	content: "\e967";
}

.icon-BetradarVFNC:before {
	content: "\e968";
}

.icon-BetradarVFWC:before {
	content: "\e969";
}

.icon-BetradarVFEC:before {
	content: "\e96a";
}

.icon-BetradarVFLM:before {
	content: "\e96b";
}

.icon-BetradarVFCC:before {
	content: "\e96c";
}

.icon-BetradarVBL:before {
	content: "\e96d";
}

.icon-BetradarVHK:before {
	content: "\e96e";
}

.icon-BetradarVDK:before {
	content: "\e96f";
}

.icon-BetradarVTI:before {
	content: "\e970";
}

.icon-BetradarVBI:before {
	content: "\e971";
}

.icon-icconMGP:before {
	content: "\e962";
}

.icon-icconPRG:before {
	content: "\e963";
}

.icon-icconPG1:before {
	content: "\e964";
}

.icon-icconPT3:before {
	content: "\e965";
}

.icon-icconIDN:before {
	content: "\e966";
}

.icon-icconService01:before {
	content: "\e95f";
}

.icon-icconAPP:before {
	content: "\e960";
}

.icon-icconCooperation:before {
	content: "\e961";
}

.icon-icconMaintain:before {
	content: "\e95e";
}

.icon-icconMailList:before {
	content: "\e95a";
}

.icon-icconMailCheck:before {
	content: "\e95b";
}

.icon-icconMailDelete:before {
	content: "\e95c";
}

.icon-icconMail01:before {
	content: "\e95d";
}

.icon-icconInfo01:before {
	content: "\e959";
}

.icon-icconV01:before {
	content: "\e951";
}

.icon-icconV02:before {
	content: "\e952";
}

.icon-icconV03:before {
	content: "\e953";
}

.icon-icconV04:before {
	content: "\e954";
}

.icon-icconV05:before {
	content: "\e958";
}

.icon-icconV06:before {
	content: "\e955";
}

.icon-icconV07:before {
	content: "\e956";
}

.icon-icconV08:before {
	content: "\e957";
}

.icon-icconLOAD:before {
	content: "\e94f";
}

.icon-icconCD:before {
	content: "\e950";
}

.icon-icconMoney:before {
	content: "\e94d";
}

.icon-icconVIP:before {
	content: "\e94e";
}

.icon-icconBonus:before {
	content: "\e94b";
}

.icon-icconVR:before {
	content: "\e94c";
}

.icon-icconHint:before {
	content: "\e94a";
}

.icon-icconFavor:before {
	content: "\e942";
}

.icon-icconFavorFull:before {
	content: "\e943";
}

.icon-icconALL:before {
	content: "\e944";
}

.icon-icconMG:before {
	content: "\e945";
}

.icon-icconAG:before {
	content: "\e946";
}

.icon-icconHABA:before {
	content: "\e947";
}

.icon-icconPP:before {
	content: "\e948";
}

.icon-icconPG:before {
	content: "\e949";
}

.icon-icconlogin:before {
	content: "\e940";
}

.icon-icconReg:before {
	content: "\e941";
}

.icon-iiconLogoA:before {
	content: "\e92c";
}

.icon-iiconLogoB:before {
	content: "\e92d";
}

.icon-iiconDice:before {
	content: "\e92e";
}

.icon-iiconSlote:before {
	content: "\e92f";
}

.icon-iiconGame:before {
	content: "\e930";
}

.icon-iiconPoker:before {
	content: "\e931";
}

.icon-iiconSpeaker:before {
	content: "\e932";
}

.icon-iiconRing:before {
	content: "\e933";
}

.icon-iiconPolicy:before {
	content: "\e934";
}

.icon-iiconGood:before {
	content: "\e935";
}

.icon-iiconMail:before {
	content: "\e936";
}

.icon-iiconMember:before {
	content: "\e937";
}

.icon-iiconDeposit:before {
	content: "\e938";
}

.icon-iiconWithdraw:before {
	content: "\e939";
}

.icon-iiconListA:before {
	content: "\e93a";
}

.icon-iiconListB:before {
	content: "\e93b";
}

.icon-iiconService:before {
	content: "\e93c";
}

.icon-iiconCell:before {
	content: "\e93d";
}

.icon-iiconDownload:before {
	content: "\e93e";
}

.icon-iiconFriend:before {
	content: "\e93f";
}

.icon-iconLockB:before {
	content: "\e92b";
}

.icon-iconARupB:before {
	content: "\e929";
}

.icon-iconARdownB:before {
	content: "\e92a";
}

.icon-iconTrash:before {
	content: "\e928";
}

.icon-iconCalendar:before {
	content: "\e926";
}

.icon-iconSand:before {
	content: "\e927";
}

.icon-iconPorkA:before {
	content: "\e922";
}

.icon-iconPorkB:before {
	content: "\e923";
}

.icon-iconPorkC:before {
	content: "\e924";
}

.icon-iconPorkD:before {
	content: "\e925";
}

.icon-fa-star:before {
	content: "\e920";
}

.icon-fa-star-o:before {
	content: "\e921";
}

.icon-iconARleftA:before {
	content: "\e91f";
}

.icon-iconARrightA {
	display: inline-block;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.icon-iconARrightA:before {
	content: "\e91f";
}

.icon-iconPlay:before {
	content: "\e918";
}

.icon-iconGo:before {
	content: "\e919";
}

.icon-iconStar:before {
	content: "\e91a";
}

.icon-iconARupA:before {
	content: "\e91b";
}

.icon-iconARdownA:before {
	content: "\e91c";
}

.icon-iconLive:before {
	content: "\e91d";
}

.icon-iconJump:before {
	content: "\e91e";
}

.icon-iconReloadA:before {
	content: "\e913";
}

.icon-iconARup01:before {
	content: "\e914";
}

.icon-iconARdown01:before {
	content: "\e915";
}

.icon-iconPlus:before {
	content: "\e916";
}

.icon-iconLock1:before {
	content: "\e917";
}

.icon-iconInformation:before {
	content: "\e912";
}

.icon-iconMessage:before {
	content: "\e911";
}

.icon-iconARup:before {
	content: "\e90f";
}

.icon-iconARdown:before {
	content: "\e910";
}

.icon-iconTime:before {
	content: "\e90d";
}

.icon-iconMoney:before {
	content: "\e90c";
}

.icon-fa-heart:before {
	content: "\e90a";
}

.icon-fa-heart-o:before {
	content: "\e90b";
}

.icon-iconBank:before {
	content: "\e909";
}

.icon-iconMobile:before {
	content: "\e907";
}

.icon-iconComputer:before {
	content: "\e908";
}

.icon-iconExclamation:before {
	content: "\e906";
}

.icon-iconCheck:before {
	content: "\e905";
}

.icon-iconCross:before {
	content: "\e902";
}

.icon-iconUser:before {
	content: "\e903";
}

.icon-iconLock:before {
	content: "\e904";
}

.icon-iconArrowL:before {
	content: "\e900";
}

.icon-iconArrowR:before {
	content: "\e901";
}