@charset "UTF-8";
.width-1200 {
	margin: 0 auto;
	width: 1200px;
}

#game {
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	padding: 32px 0;
	background-image: url(../images/common/background.jpg);
	overflow: hidden;
	min-height: 80vh;
}
#game .tab-content {
	margin: 0 auto;
	width: 1200px;
}
#game .tab-content .tab-pane {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
#game .tab-content .tab-pane .right {
	width: 536px;
	position: relative;
	-webkit-animation: none;
	        animation: none;
}
#game .tab-content .tab-pane .right .right_text {
	-webkit-animation: fadeInRight 0.7s forwards;
	        animation: fadeInRight 0.7s forwards;
}

#slot {
	min-width: 1200px;
	margin: 0 auto;
	background-color: #2c2929;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/common/background.jpg);
}
#slot .banner {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	position: relative;
	height: 517px;
	min-width: 1200px;
}
#slot .banner .main {
	position: absolute;
	top: 82px;
	left: 0;
	width: 511px;
}
#slot .banner .bg {
	width: 738px;
	height: 484px;
	position: absolute;
	top: 33px;
	right: -90px;
}
#slot .tab-container {
	display: -webkit-flex;
	display: flex;
	padding-bottom: 70px;
}
#slot .tab-container > .tab-header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	min-width: 95px;
	max-height: 720px;
	border-radius: 10px;
	background-color: #363434;
	box-shadow: var(--shadow-secondary);
	overflow-y: scroll;
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}
#slot .tab-container > .tab-header::-webkit-scrollbar-thumb {
	height: 30%;
	background: #B0B8C1;
	border-radius: 10px;
}
#slot .tab-container > .tab-header::-webkit-scrollbar-track {
	background: #E0E3E8;
	/*스크롤바 뒷 배경 색상*/
	border-radius: 10px;
}
#slot .tab-container > .tab-header::-webkit-scrollbar {
	width: 8px;
	/* 스크롤바의 너비 */
}
#slot .tabs li {
	padding: 8px 12px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	height: 80px;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	cursor: pointer;
}
#slot .tabs li .game-logo {
	width: 30px;
	height: 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}
#slot .tabs li .game-name {
	line-height: 16px;
	margin-top: 3px;
	font-size: 11px;
	color: var(--font-primary);
	text-align: center;
	word-break: keep-all;
}
#slot .tabs li:hover, #slot .tabs li.active {
	background: var(--gradient-primary);
}
#slot .tabs li:hover .game-name, #slot .tabs li.active .game-name {
	color: #fff;
}
#slot .tabs li:hover .game-logo {
	-webkit-animation: jump 0.5s infinite alternate;
	        animation: jump 0.5s infinite alternate;
}
#slot .tabs li.inspection {
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

#slot .tab-container > .tab-body {
	position: relative;
   min-width: 1095px;
   background-color: #363434;
   box-shadow: var(--shadow-primary);
   margin-left: 10px;
}
#slot .tab-container > .tab-body .menu {
	display: -webkit-flex;
	display: flex;
	height: 70px;
	line-height: 70px;
	padding: 0px 40px;
	-webkit-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	border-bottom: 1px solid var(--stroke-primary);
	position: relative;
}
#slot .tab-container > .tab-body .menu .list {
	-webkit-flex: 1 1 0%;
	        flex: 1 1 0%;
	display: -webkit-flex;
	display: flex;
	width: 500px;
	-webkit-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
}
#slot .tab-container > .tab-body .menu .list .item {
	display: block;
	padding: 0 15px;
	font-size: 16px;
	text-align: center;
	color: var(--font-primary);
	position: relative;
	cursor: pointer;
}
#slot .tab-container > .tab-body .menu .list .item.active {
	color: var(--color-primary);
}
#slot .tab-container > .tab-body .menu .list .item.active i {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--color-primary);
}
#slot .tab-container > .tab-body .menu .search-box {
	width: 285px;
	height: 36px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 400;
}
#slot .tab-container > .tab-body .menu .search-box input {
	position: absolute;
	left: 0;
	top: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 40px 0 18px;
	border-radius: 4px;
	border: 1px solid var(--stroke-primary);
}
#slot .tab-container > .tab-body .menu .search-box input:placeholder-shown {
	background-size: 24px 24px;
	background-position: right 12px center;
}
#slot .tab-container > .tab-body .tab-content {
	margin: 20px 0;
	padding: 0 14px;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
}
#slot .tab-container > .tab-body .tab-content .desc-wrap {
	width: 100%;
	font-size: 13px;
	display: -webkit-flex;
	display: flex;
	gap: 8px;
}
#slot .tab-container > .tab-body .tab-content .desc-wrap .desc {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	-webkit-justify-content: center;
	        justify-content: center;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	color: var(--font-primary);
}
#slot .tab-container > .tab-body .tab-content .desc-wrap .desc span {
	font-size: 12px;
	font-weight: 300;
	color: var(--font-secondary);
}
#slot .tab-container > .tab-body .tab-content .game-list,
#slot .tab-container > .tab-body .tab-content .recommend-list,
#slot .tab-container > .tab-body .tab-content .subscribe-list {
	display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   grid-gap: 1.2em;
}
#slot .tab-container > .tab-body .tab-content .game-list .item,
#slot .tab-container > .tab-body .tab-content .recommend-list .item,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item {
	border: 1px solid var(--stroke-primary);
	border-radius: 6px;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo img,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo img,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo img {
	width: 100%;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo .button-wrap,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo .button-wrap,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo .button-wrap {
	position: absolute;
	top: 0;
	opacity: 0;
	display: none;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo button,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo button,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo button {
	z-index: 3;
	width: 107px;
	margin-right: 5px;
	height: 30px;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	background-color: var(--color-primary);
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo:hover img,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo:hover img,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo:hover img {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	width: 100%;
	height: 100%;
	position: relative;
	transition: all 0.5s;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-logo:hover .button-wrap,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-logo:hover .button-wrap,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-logo:hover .button-wrap {
	top: 0;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	text-align: center;
	display: -webkit-flex;
	display: flex;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-name,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-name,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-name {
	width: 100%;
	gap: 12px;
	min-height: 45px;
	padding: 12px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	word-break: keep-all;
}
#slot .tab-container > .tab-body .tab-content .game-list .item .game-name i.subscribe,
#slot .tab-container > .tab-body .tab-content .recommend-list .item .game-name i.subscribe,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item .game-name i.subscribe {
	cursor: pointer;
	color: var(--color-primary);
}
#slot .tab-container > .tab-body .tab-content .game-list .item i.subscribe::before,
#slot .tab-container > .tab-body .tab-content .recommend-list .item i.subscribe::before,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item i.subscribe::before {
	content: "♡";
}
#slot .tab-container > .tab-body .tab-content .game-list .item.pinned i.subscribe::before,
#slot .tab-container > .tab-body .tab-content .recommend-list .item.pinned i.subscribe::before,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item.pinned i.subscribe::before {
	content: "♥";
}
#slot .tab-container > .tab-body .tab-content .game-list .item.pgn-off,
#slot .tab-container > .tab-body .tab-content .recommend-list .item.pgn-off,
#slot .tab-container > .tab-body .tab-content .subscribe-list .item.pgn-off {
	display: none;
}
#slot .tab-container > .tab-body .tab-content.pinned .game-list .item:not(.pinned) {
	display: none;
}
#slot .tab-container > .tab-body .tab-content .game-wrap {
	display: none;
}
#slot .tab-container > .tab-body .tab-content .game-wrap > div {
	display: none;
}
#slot .tab-container > .tab-body .tab-content .game-wrap.active {
	display: -webkit-flex;
	display: flex;
}
#slot .tab-container > .tab-body .tab-content .game-wrap.active > div {
	display: -webkit-flex;
	display: flex;
}

#miniList {
	min-height: 100vh;
	width: 100%;
	min-width: var(--min-width);
	background-color: #2c2929;
	padding-bottom: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/common/background.jpg);
}
#miniList .mini-banner-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	position: relative;
	height: 517px;
	min-width: 1200px;
	overflow: hidden;
}
#miniList .mini-banner-wrap .main {
	position: absolute;
	top: 82px;
	left: 0;
	width: 511px;
}
#miniList .mini-banner-wrap .bg {
	width: 738px;
	height: 484px;
	position: absolute;
	top: 33px;
	right: 0px;
}
#miniList .mini-game-wrap {
	/* padding: 32px auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center; */
}
#miniList .mini-game-wrap .mini-type{
	display: flex;
}
#miniList .mini-game-wrap .mini-type li{
	text-align: center;
	width: 7em;
	background: #363434;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
}
#miniList .mini-game-wrap .mini-type li:hover,
#miniList .mini-game-wrap .mini-type li.active{
    background: #0000008a;
    color: white;
    border: 1px solid #a3a3a3;
}
#miniList .mini-game-wrap .mini-type li span{
	border-top: 1px solid #616161;
    width: 100%;
    display: block;
    padding: 7px;
}
#miniList .mini-game-wrap .list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
	grid-gap: 1.2em;
	background: #363434;
	padding: 1.5em;
	border-radius: 10px;
}
#miniList .mini-game-wrap .list .item {
	text-align: center;
}
#miniList .mini-game-wrap .list .item .title {
	color: white;
	font-size: 20px;
	font-weight: 600;
}
#miniList .mini-game-wrap .list .item .game-logo {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#miniList .mini-game-wrap .list .item .game-logo img {
	width: 100%;
}
#miniList .mini-game-wrap .list .item .game-logo .button-wrap {
	width: auto;
	height: auto;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
#miniList .mini-game-wrap .list .item .game-logo button,
#miniList .mini-game-wrap .list .item .game-logo a {
	z-index: 3;
	width: 107px;
	margin-right: 5px;
	height: 30px;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	background-color: var(--color-primary);
}
#miniList .mini-game-wrap .list .item .game-logo:hover img {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	width: 100%;
	height: 100%;
	position: relative;
	transition: all 0.5s;
}
#miniList .mini-game-wrap .list .item .game-logo:hover .button-wrap {
	opacity: 1;
    background-color: rgb(11 11 11 / 84%);
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    display: -webkit-flex;
    display: flex;
    padding: 7px 10px;
}
#miniList .mini-game-wrap .list .item .game-name {
	width: 100%;
	gap: 12px;
	min-height: 45px;
	padding: 12px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	word-break: keep-all;
}
#miniList .mini-game-wrap .list .item .game-name i.subscribe {
	cursor: pointer;
	color: var(--color-primary);
}

#list {
	padding: 0;
	width: 1200px;
}
#list > .title {
	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	letter-spacing: -0.6px;
	margin-bottom: 40px;
}
#list .list {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	margin-bottom: 54px;
}
#list .list .row {
	height: 40px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border-bottom: 1px solid var(--stroke-primary);
}
#list .list .row .cell {
	display: -webkit-flex;
	display: flex;
	padding: 10px 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.6px;
	color: var(--font-primary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#list .list .row .cell.center {
	-webkit-justify-content: center;
	        justify-content: center;
}
#list .list .row .cell.etc {
	padding: 4px 10px;
}
#list .list .row .cell > * {
	text-overflow: ellipsis;
	overflow: hidden;
}
#list .list .row.head {
	background-color: var(--color-third);
	height: 48px;
	border-bottom: none;
}
#list .list .row.head .cell {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	color: white;
}
#list .page_wrap {
	display: -webkit-flex;
	display: flex;
	gap: 8px;
	-webkit-justify-content: center;
	        justify-content: center;
}
#list .page_wrap .page {
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.6px;
	color: var(--font-primary);
	background-color: #fff;
	border-radius: 40px;
}
#list .page_wrap .page.enabled {
	border: none;
	background: #414755;
	color: white;
	pointer-events: none;
}
#list .page_wrap .page.disabled {
	pointer-events: none;
}

#mini {
	min-width: var(--min-width);
	background-color: #F3F6FC;
}
#mini section.select {
	display: -webkit-flex;
	display: flex;
	height: 68px;
	-webkit-align-items: center;
	        align-items: center;
	margin-bottom: 40px;
	background-color: var(--gray-00);
}
#mini section.select :is(.sel_gbp, .sel_btc, .sel_gold) {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-flex: 1;
	        flex: 1;
	height: 100%;
	-webkit-align-items: center;
	        align-items: center;
	font-size: 20px;
	background-color: white;
}
#mini section.select :is(.sel_gbp, .sel_btc, .sel_gold).on {
	background-color: #fd8251;
	color: white;
}
#mini section.top {
	display: grid;
	max-width: 1200px;
	margin: 0 auto 48px;
	padding-top: 20px;
	grid-template-columns: 1fr 332px;
	gap: 24px;
}
#mini section.top .left {
	position: relative;
	-webkit-flex: calc(100% - 300px);
	        flex: calc(100% - 300px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	gap: 20px;
}
#mini section.top .left .gameContainer {
	overflow: hidden;
}
#mini section.top .left .gameContainer iframe {
	border: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}
#mini section.top .right {
	padding: 12px;
	background-color: var(--gray-00);
	font-size: 13px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	gap: 24px;
	border: 1px solid var(--stroke-primary);
	border-radius: 12px;
	height: -webkit-min-content;
	height: min-content;
}
#mini section.top .right button[data-value] {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.6px;
	background: white;
	color: var(--font-primary);
	padding: 4px;
	border: 1px solid var(--stroke-primary);
	border-radius: 4px;
}
#mini section.top .right .value {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	padding: 8px 16px;
	background-color: var(--gray-02);
	border: 1px solid var(--stroke-primary);
	border-radius: 4px;
	width: 100%;
}
#mini section.top .right .value.mb_1, #mini section.top .right .value.expectedProfit {
	padding-right: 26px;
}
#mini section.top .right .value.mb_1::after {
	content: "원";
	position: absolute;
	right: 11px;
	top: 49%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
#mini section.top .right .value.expectedProfit::after {
	content: "원";
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
#mini section.top .right .input {
	position: relative;
	font-weight: 400;
	font-size: 16px;
}
#mini section.top .right .input::after {
	content: "원";
	position: absolute;
	right: 10px;
	top: 48%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
#mini section.top .right .input input {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	padding: 8px 16px;
	padding-right: calc(16px + 1em);
	text-align: right;
	background-color: #fff;
	border: 1px solid var(--stroke-primary);
	border-radius: 4px;
	width: 100%;
	margin: 0;
}
#mini section.top .right .title {
	letter-spacing: -0.6px;
	color: var(--font-primary);
	font-weight: 700;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 4px;
}
#mini section.top .right .info {
	margin-bottom: 8px;
}
#mini section.top .right .ctrl {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4px;
	margin-top: 16px;
	margin-bottom: 8px;
}
#mini section.top .right .ctrl .max {
	grid-column: 1/span 2;
}
#mini section.top .right .invest {
	color: white;
	background-color: var(--color-third);
	width: 100%;
	border-radius: 4px;
	padding: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.6px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	margin-bottom: 12px;
}
#mini section.top .right .limit-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
}
#mini section.top .right .limit-wrap .limit {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	        flex-flow: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	gap: 4px;
	font-size: 16px;
}
#mini section.top .right .limit-wrap .limit.small .limit-right {
	color: var(--red-00);
}
#mini section.top .right :is(.next, .profit) {
	display: -webkit-flex;
	display: flex;
	gap: 6px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	letter-spacing: -0.6px;
}
#mini section.top .right :is(.next, .profit) .item {
	-webkit-flex: 1;
	        flex: 1;
}
#mini section.top .right :is(.next, .profit) .datetime {
	color: var(--font-primary);
}
#mini section.top .right :is(.next, .profit) .expectedRate {
	font-weight: 700;
	font-size: 20px;
}
#mini section.top .right .selector {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	width: 100%;
}
#mini section.top .right .selector .header {
	background-color: var(--color-primary);
	display: -webkit-flex;
	display: flex;
	width: 100%;
	border-radius: 4px 4px 0 0;
	color: white;
	padding: 0;
}
#mini section.top .right .selector .header .type {
	-webkit-flex: 1;
	        flex: 1;
	height: 48px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}
#mini section.top .right .selector .body {
	background-color: var(--gray-00);
	display: -webkit-flex;
	display: flex;
}
#mini section.top .right .selector .body .option-wrap {
	padding: 12px 16px;
	-webkit-flex: 1;
	        flex: 1;
	display: grid;
	gap: 8px;
	border: 1px solid var(--stroke-primary);
}
#mini section.top .right .selector .body .option-wrap .option {
	padding: 8px 0;
	border-radius: 4px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	color: white;
	cursor: pointer;
	text-align: center;
}
#mini section.top .right .selector .body .option-wrap .option.red {
	background-color: var(--red-00);
}
#mini section.top .right .selector .body .option-wrap .option.blue {
	background-color: var(--blue-06);
}
#mini section.top .right .selector .body .option-wrap .option.green {
	background-color: var(--green-01);
}
#mini section.top .right .selector .body .option-wrap .option.black {
	background-color: var(--gray-10);
}
#mini section.top .right .selector .body .option-wrap .option.selected {
	box-shadow: inset 0px 0px 13px 0px rgba(238, 238, 238, 0.8);
}
#mini section.top .right .selector .body .option-wrap .option.selected.red {
	background-color: var(--red-05);
}
#mini section.top .right .selector .body .option-wrap .option.selected.blue {
	background-color: var(--blue-08);
}
#mini section.middle .container {
	display: grid;
	grid-template-columns: 240fr 280fr 280fr 240fr;
	line-height: calc(var(--mw) / 1440 * 60);
	margin-bottom: 60px;
}
#mini section.middle .container div {
	background-color: #fff;
	font-size: 16px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
}
#mini section.middle .container .info {
	line-height: calc(var(--mw) / 1440 * 72);
	padding: 0 0 0 calc(var(--mw) / 1440 * 11);
	background-color: #fd8251;
	color: #fff;
}
#mini section.bottom {
	padding: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	-webkit-align-items: center;
	        align-items: center;
}
#mini section.bottom .container {
	display: grid;
	grid-template-columns: 3fr 3fr 2fr 2fr;
	line-height: calc(var(--mw) / 1440 * 60);
	margin: 20px;
	border-top: 1px solid var(--stroke-primary);
}
#mini section.bottom #invest_list2 .container {
	border-top: 2px solid var(--stroke-primary);
	grid-template-columns: 23fr 23fr 17fr 17fr 17fr;
}
#mini section.bottom #invest_list3 .container {
	border-top: 2px solid var(--stroke-primary);
	grid-template-columns: 23fr 23fr 17fr 17fr 17fr;
}
#mini section.bottom .header {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	max-width: 1200px;
	padding: 0;
	height: unset;
	border-bottom: unset;
	width: 100%;
}
#mini section.bottom .lists {
	display: -webkit-flex;
	display: flex;
}
#mini section.bottom .lists .list {
	padding: 10px 15px;
	cursor: pointer;
	letter-spacing: -0.6px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}
#mini section.bottom .lists .list.active {
	border-bottom: solid 2px var(--color-primary);
}
#mini section.bottom .menu-wrap {
	display: -webkit-flex;
	display: flex;
}
#mini section.bottom .menu-wrap .menu {
	padding: 10px 15px;
}
#mini section.bottom .rows {
	padding: 15px;
}
#mini section.bottom .rows .title span {
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid white;
	font-weight: 300;
}
#mini section.bottom :is(.rows[data-index="1"], .rows[data-index="2"]) .title {
	font-weight: 300;
	margin-left: 10px;
}

#list .button-etc {
	padding: 4px 12px;
	background-color: var(--red-00);
	color: #fff;
	border-radius: 4px;
}
#list [data-cancel] {
	background-color: var(--red-05);
}

#board {
	padding: 5px 0 60px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/common/background.jpg);
	min-height: 80vh;
}
#board .list-wrap table {
	width: 100%;
}
#board .content {
	margin-top: 20px;
}
#board .content .tit-box {
	color: var(--color-primary);
	font-size: 14px;
	padding: 6px 0 25px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}
#board .content .tit-box .col-back {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
#board .content .tit-box .col-back a {
	font-size: 14px;
	transition: 0.3s ease-out;
}
#board .content .tit-box .col-back .cross_line {
	width: 1px;
	height: 13px;
	background-color: var(--color-third);
	margin: 0 10px;
	display: none;
}
#board .content .tit-box .col-title {
	font-size: 20px;
	font-weight: 700 !important;
	color: var(--stroke-primary);
}
#board .content .tit-box .col-time {
	margin-left: 4px;
}
#board .content .txt-box {
	padding: 33px;
	border: 1px solid #e4e4f7;
	background-color: var(--bg-01);
	color: var(--font-primary);
	font-size: 14px;
}
#board .content .txt-box p {
	margin-top: 0.7em;
	line-height: 1.6;
	text-align: justify;
	word-break: break-all;
}
#board .button-wrap {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-top: 23px;
}
#board .button-wrap > .btn {
	padding: 0;
	transition: 0.2s ease-out;
	width: 100%;
	max-width: 8em;
}
#board .button-wrap > .btn span + span {
	margin-left: 0.25em;
}

#board .searchZone {position: relative;width: 300px;margin-right: 15px;background: #dedede;border-radius: 5px;}
#board .searchZone input {color: #030303;border-radius: 6px;padding-left: 14px;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;height: 2em;margin-bottom: 0;width: 100%;}
#board .searchZone input:placeholder-shown + .searchIcon .icon-search{display: block;}
#board .searchZone input:placeholder-shown + .searchIcon .icon-delet{display: none;}
#board .searchZone input:not(:placeholder-shown) + .searchIcon .icon-search{display: none;}
#board .searchZone input:not(:placeholder-shown) + .searchIcon .icon-delet{display: block;}
#board .searchZone input::placeholder {color: #040404;font-size: 14px}
#board .searchZone .searchIcon {position: absolute;right: 5px;top: 1px;}
#board .searchZone .searchIcon img {padding: 2px;cursor: pointer;width: 27px;}

.ic-bet{color: white;background: red;padding: 0px 5px;border-radius: 3px;font-size: 8px;}
.topZone {display:flex;justify-content: space-between;margin-top: 15px;}
.upVotes {cursor: pointer;}
.upVotes.on i{color: red;}

#sub .tit-box {display:flex;justify-content: space-between;margin-top:10px}
#sub .tit-box .col-title{font-size:1.5em}
#sub .tit-box .col-time{display:flex;gap:10px}
#sub .btnFrame{display:flex;justify-content: space-between;margin-top: 10px;}
#sub .txt{padding:10px;border:1px solid #555;margin-top:20px}
#sub .reply-list table tr{border:0;}
#sub .reply-list table tr{border-bottom: 1px solid #f1f1f1;}
#sub .reply-list table tr th {background: #222020;vertical-align: top;padding: 10px 0;}
#sub .reply-list table tr td {border-radius: 0;color: #ffffff;height: 60px;border-right: 1px solid;border: 0;border-color: #505050;}

.comp_rate {color: white;}
.comp_rate h2{color: #ffffff;font-size: 16px;padding: 10px;background: #2e3135;border-radius: 5px;margin: 10px 0;}
.comp_rate .main_tap {display: flex;gap: 1px;overflow: scroll;}
.comp_rate .main_tap li{padding: 10px 15px;background: linear-gradient(0deg, #424242, #6c6c6c);min-width: 100px;text-align: center;cursor: pointer;}
.comp_rate .main_tap li.on{color: #ffffff;background: linear-gradient(0deg, #0079a8, #0abbff);}
.comp_rate .sub_tap{display: grid;grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));gap: 1px;margin-top: 1px;}
.comp_rate .sub_tap li{text-align: center;padding: 10px;background: #2e3135;cursor: pointer;}
.comp_rate .sub_tap li.on{background: #038dc2;}

.comp_rate .comp_panel .comp_list{display: grid;grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));gap: 5px;flex-wrap: wrap;margin-top: 9px;}
.comp_rate .comp_panel .comp_list li{display: flex;padding: 10px;min-width: 150px;justify-content: space-between;border-radius: 5px;border: 1px solid #979797;color: black;}
.comp_rate .comp_panel .comp_list li .comp_rate{color:black}

#bet_result {
	padding: 5px 0 60px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/common/background.jpg);
	min-height: 80vh;
}
#sub {
	display: -webkit-flex;
	display: flex;
	padding: 0 0 60px;
	height: unset;
	min-height: 80vh;
}
#sub .container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
}
#sub .container form {
	padding: 2em;
	padding-top: 1em;
	margin-top: 1.5em;
	box-shadow: var(--shadow-secondary);
}
#sub .container .input-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
	margin-top: 1.2em;
}
#sub .container .input-wrap.memo {
	font-size: 1.2em;
	line-height: 1.8;
}
#sub .container .input-wrap .desc {
	color: var(--font-primary);
	font-weight: 700;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}
#sub .container .input-wrap input,
#sub .container .input-wrap select {
	border: 1px solid var(--stroke-primary);
	border-radius: 4px;
	color: var(--stroke-primary);
	padding: 1em;
}
#sub .container .input-wrap input:focus-visible,
#sub .container .input-wrap select:focus-visible {
	border-color: var(--font-disabled);
	box-shadow: 0 0 5px rgba(127, 127, 127, 0.2);
}
#sub .container .money-wrap {
	display: -webkit-flex;
	display: flex;
	margin-top: 24px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
#sub .container .money-wrap .money {
	padding: 0.75em 0.5em;
	margin: 0 2px;
	font-weight: 400;
	font-size: 1em;
	color: black;
	background: #FFFFFF;
	border: 1px solid var(--stroke-secondary);
	border-radius: 1.2em;
	text-align: center;
	max-width: 9em;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
	transition: 0.2s all;
}
#sub .container .money-wrap .money:hover {
	color: #fff;
	background: var(--color-primary);
}
#sub .container .money-wrap .money:active {
	-webkit-transform: scale(0.95);
	        transform: scale(0.95);
}
#sub .container .money-wrap .all {
	background: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 20px;
	color: #fff;
}
#sub .container .button-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-evenly;
	        justify-content: space-evenly;
	margin-top: 20px;
}
#sub .container .button-wrap .btn {
	max-width: 20em;
	margin: 0 2px;
}
#sub .container .bank-wrap {
	font-size: 1.2em;
	line-height: 2;
	background-color: #292929;
	margin-top: 1em;
	padding: 1em 1.5em;
	border-radius: 1em;
	box-shadow: var(--shadow-primary);
	overflow: visible;
	position: relative;
	z-index: 0;
}
#sub .container .bank-wrap::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: inherit;
	border-radius: inherit;
}
#sub .container .bank-wrap::after {
	content: "";
	display: block;
	position: absolute;
	width: 1em;
	height: 1em;
	top: -0.5em;
	left: 18%;
	z-index: -2;
	background: inherit;
	box-shadow: inherit;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#attendance {
	display: -webkit-flex;
	display: flex;
	padding: 0 0 60px;
	height: unset;
	min-height: 80vh;
}
#attendance .container {
	padding: 0.2em 0;
}
#attendance .container .calendar-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	gap: 0.2em;
}
#attendance .container .calendar-wrap .head {
	margin-top: 1em;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	font-size: 1em;
}
#attendance .container .calendar-wrap .head .left-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
#attendance .container .calendar-wrap .head .left-wrap select {
	box-shadow: var(--shadow-secondary);
	font-weight: 700;
	font-size: 1.2em;
	color: var(--font-third);
	background-color: white;
	padding: 0.75em;
	padding-right: 2em;
	border-radius: 1em;
}
#attendance .container .calendar-wrap .head .left-wrap select.month {
	margin-left: 0.2em;
}
#attendance .container .calendar-wrap .head .right-wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	font-size: 1.2em;
	background: var(--disabled);
	box-shadow: var(--shadow-primary);
	padding: 0 1em;
	border-radius: 1em;
	color: var(--font-third);
}
#attendance .container .calendar-wrap .head .right-wrap .ac_cnt {
	font-weight: 700;
	padding: 0 1em;
	color: var(--color-secondary);
}
#attendance .container .calendar-wrap .calendar {
	margin-top: 1em;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: var(--shadow-secondary);
}
#attendance .container .calendar-wrap .calendar .cols {
	display: grid;
	-webkit-justify-content: center;
	        justify-content: center;
	grid-template-columns: repeat(7, 1fr);
	background-color: var(--color-third);
}
#attendance .container .calendar-wrap .calendar .cols .cell {
	height: 3em;
	color: white;
	font-size: 1.5em;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}
#attendance .container .calendar-wrap .calendar .rows {
	display: grid;
	-webkit-justify-content: center;
	        justify-content: center;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	font-family: "Pretendard";
	font-size: 1.25em;
}
#attendance .container .calendar-wrap .calendar .rows .cell {
	height: 7em;
	color: var(--font-third);
	font-weight: 700;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
}
#attendance .container .calendar-wrap .calendar .rows .cell:nth-child(7n+1) {
	color: var(--color-error);
}
#attendance .container .calendar-wrap .calendar .rows .cell:nth-child(7n) {
	color: var(--blue-04);
}
#attendance .container .calendar-wrap .calendar .rows .cell.today {
	color: var(--fg-primary);
}
#attendance .container .calendar-wrap .calendar .rows .cell.day {
	font-weight: 700;
	padding-top: 0.5em;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid var(--border);
}
#attendance .container .calendar-wrap .calendar .rows .cell.day .image {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
	-webkit-flex-grow: 1;
	        flex-grow: 1;
	margin: 0.25em;
	background: url(../images/common/att2.png) no-repeat center;
	background-size: contain;
	-webkit-filter: hue-rotate(219deg) contrast(0.5);
	        filter: hue-rotate(219deg) contrast(0.5);
}
#attendance .container .calendar-wrap .calendar .rows .cell.day .image.consec {
	background-image: url(../images/common/att1.png);
}

#attendance .attendance-reward-wrap {
	
}

#attendance .attendance-reward-wrap .attendance-reward-btn {
	width: 100px;
    height: 35px;
}

#roulette {
	background-image: url(../images/common/live_bg.png);
	background-size: 100% 100%;
	padding: 0 0 60px;
	min-height: 80vh;
}
#roulette .container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
}
#roulette .container .roulette-wrap {
	position: relative;
}
#roulette .container .roulette-container .roulette {
	max-width: 500px;
	position: relative;
	display: block;
	z-index: 1;
	margin-left: auto;
}
#roulette .container .roulette-container .roulette .wheel {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	width: 90%;
	top: 3.8%;
	left: 5%;
	transition: transform 6.5s cubic-bezier(0, 0, 0.3, var(--pt-bezier)), -webkit-transform 6.5s cubic-bezier(0, 0, 0.3, var(--pt-bezier));
}
#roulette .container .roulette-container .roulette .wheel.waiting {
	transition-duration: 60s;
}
#roulette .container .roulette-container .roulette .wheel .roulete_img {
	will-change: transform;
	border-radius: 50%;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
	width: 100%;
}
#roulette .wheel-slice {
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 7%;
	font-weight: 900;
	text-align: center;
	-webkit-transform-origin: left center;
	        transform-origin: left center;
	padding-left: 10%;
	-webkit-transform: translateY(-50%) rotate(136deg);
	        transform: translateY(-50%) rotate(136deg);
	color: white;
}
#roulette .wheel-slice:nth-child(1) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 0));
	        transform: translateY(-50%) rotate(calc(30deg * 0));
}
#roulette .wheel-slice:nth-child(2) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 1));
	        transform: translateY(-50%) rotate(calc(30deg * 1));
}
#roulette .wheel-slice:nth-child(3) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 2));
	        transform: translateY(-50%) rotate(calc(30deg * 2));
}
#roulette .wheel-slice:nth-child(4) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 3));
	        transform: translateY(-50%) rotate(calc(30deg * 3));
}
#roulette .wheel-slice:nth-child(5) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 4));
	        transform: translateY(-50%) rotate(calc(30deg * 4));
}
#roulette .wheel-slice:nth-child(6) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 5));
	        transform: translateY(-50%) rotate(calc(30deg * 5));
}
#roulette .wheel-slice:nth-child(7) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 6));
	        transform: translateY(-50%) rotate(calc(30deg * 6));
}
#roulette .wheel-slice:nth-child(8) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 7));
	        transform: translateY(-50%) rotate(calc(30deg * 7));
}
#roulette .wheel-slice:nth-child(9) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 8));
	        transform: translateY(-50%) rotate(calc(30deg * 8));
}
#roulette .wheel-slice:nth-child(10) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 9));
	        transform: translateY(-50%) rotate(calc(30deg * 9));
}
#roulette .wheel-slice:nth-child(11) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 10));
	        transform: translateY(-50%) rotate(calc(30deg * 10));
}
#roulette .wheel-slice:nth-child(12) {
	-webkit-transform: translateY(-50%) rotate(calc(30deg * 11));
	        transform: translateY(-50%) rotate(calc(30deg * 11));
}
#roulette .wheel-slice:nth-child(even) {
	color: #d20000;
}
#roulette .wheel-slice .coupon {
	width: 40%;
}

#roulette .container .roulette-container .roulette .outside {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
#roulette .container .roulette-container .roulette .outside img {
	width: 100%;
	height: auto;
}
#roulette .container .roulette-container .roulette .roulette-btn {
	z-index: 103;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	top: 37.5%;
	left: 50.3%;
}
#roulette .container .roulette-container .roulette .start-btn {
	background: url(../images/roulette/start.png) center no-repeat;
	background-size: contain;
	width: 100px;
	height: 120px;
	border-radius: 100px;
	border-style: none;
	transition: all 0.3s;
	-webkit-transform-origin: 50% 60%;
	        transform-origin: 50% 60%;
}
#roulette .container .roulette-container .roulette .start-btn::after {
	content: "";
	position: absolute;
	display: block;
	top: 53%;
	left: 49%;
	width: 45%;
	height: 22%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 12px;
	background: rgba(59, 23, 1, 0.85);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
	box-shadow: 0 0 1px 1px rgba(59, 23, 1, 0.85);
	opacity: 0;
	transition: all 0.2s;
}
#roulette .container .roulette-container .roulette .start-btn.disabled {
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
#roulette .container .roulette-container .roulette .start-btn.disabled::after {
	opacity: 1;
}
#roulette .container .roulette-container .roulette .start-btn:hover:not(:active) {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}
#roulette .container .roulette-info {
	position: absolute;
	background: #fffae4;
	padding: 1em;
	top: 0;
	width: 50%;
	height: 100%;
	box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.49);
	z-index: -1;
}
#roulette .container .roulette-info::after {
	content: "";
	-webkit-mask-image: linear-gradient(102deg, black, transparent 60%);
	        mask-image: linear-gradient(102deg, black, transparent 60%);
	background: url(../images/roulette/card-trail.png) left center no-repeat;
	background-size: 100% 100%;
	-webkit-filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.4901960784));
	        filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.4901960784));
	position: absolute;
	display: block;
	height: 100%;
	top: 0;
	left: 100%;
	width: 26em;
	opacity: 0.8;
}
#roulette .container .roulette-info .count-wrap {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	        flex-flow: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	height: 70%;
}
#roulette .container .roulette-info .count-wrap h2.title {
	font-size: 1.4em;
	color: #825000;
	font-weight: 700;
	padding: 1em 0;
	border-bottom: 1px solid #dcdcdc;
	width: 100%;
	text-align: center;
}
#roulette .container .roulette-info .count-wrap .content {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	height: 100%;
}
#roulette .container .roulette-info .count-wrap .content .count-label {
	margin-right: 1em;
}
#roulette .container .roulette-info .count-wrap .content .coupon {
	/* position: absolute; */
	/* left: -4vw; */
	/* top: -18vw; */
	font-size: 1.5em;
	width: 6em;
	height: 6em;
	/* line-height: 1.2; */
	border-radius: 50%;
	background: #f0ac19;
	color: #fff;
	border: 1px solid #825000;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-flex-flow: column;
	        flex-flow: column;
	border-radius: 50%;
}
#roulette .container .roulette-info .count-wrap .content .coupon b.coupon-cnt {
	font-size: 1.5em;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	margin-top: -0.5em;
}
#roulette .container .roulette-info .count-wrap .content .coupon span {
	font-size: 0.9em;
}

/*Game Result*/
.list-wrap .result-pick-wrap .folder {
	width: 100%;
    height: 100%;
    -webkit-flex-grow: 1;
	        flex-grow: 1;
    overscroll-behavior: contain;
    box-shadow: 1px -3px 19px var(--primary-lighten);
	color: var(--fg-primary);
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"] {
	height: 40px;
    -webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
    background-color: var(--primary-lightest);
    border-top: 1px solid var(--border-darker);
    border-bottom: 1px solid var(--border-darker);
    box-shadow: 1px 3px 19px var(--primary-lighten);
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"]:hover {
    background-color: var(--primary-lighten);
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"]:not([hidden]) {
	display: -webkit-flex;
	display: flex;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"] .left {
	gap: 5px;
	font-size: 14px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	padding: 0 21px 0 12px;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"] .left .location {
	white-space: nowrap;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switcher"] .right {
	display: -webkit-flex;
	display: flex;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"]:not([hidden]) {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
    margin: 10px 0;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row {
	font-size: 12px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	padding: 5px;
	display: grid;
	gap: 2px;
	grid-template-columns: 7ch 1fr 8ch;
	text-align: center;
	word-break: keep-all;
	line-height: 2ex;
}

.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap {
	display: -webkit-flex;
	display: flex;
	gap: 5px;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet {
	width: 44.5%;
    height: 32px;
    display: flex;
    -webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
    padding: 5px 1.5%;
    border: 1px solid var(--border-darker);
    border-radius: 5px;
    cursor: pointer;
	background-color: var(--primary-more-light);
	position: relative;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) {
	display: -webkit-flex;
	display: flex;
	gap: 5px;
	-webkit-align-items: center;
	        align-items: center;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) .team-logo {
	height: 14px;
	aspect-ratio: 1/1;
	background-size: 100% 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) .name {
	text-align: left;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	height: 100%;
	gap: 5px;
	overflow-wrap: anywhere;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet.single {
	width: 100% !important;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .odds-wrap.center {
	width: 100%;
	text-align: center;
}

.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .right .name {
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre-wrap;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .right.away-name .name {
	position: absolute;
    right: 1em;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(2) {
	width: 15%;
	-webkit-justify-content: center;
	        justify-content: center;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet.pick {
	background-color: var(--primary);
	color: white;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(3) .odds-wrap {
	-webkit-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet.baseline {
	background-color: var(--primary-light);
	color: var(--font);
	pointer-events: none;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .left-handi-mark {
	color: #30ff00d4;
    font-weight: 500;
	margin-left: auto;
    left: 0px;
    position: relative;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .right-handi-mark {
	color: #30ff00d4;
    font-weight: 500;
	margin-right: auto;
    right: 0px;
    position: relative;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .left-under-mark {
	margin-left: auto;
    left: 0px;
    position: relative;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .left-under-mark img {
	width: 9px;
	height: 10px;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .right-under-mark {
	margin-right: auto;
    right: 0px;
    position: relative;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet .right-under-mark img {
	width: 9px;
	height: 10px;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row [data-role=drawer] {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	background-color: var(--bg-dark);
	color: #fff;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}
.list-wrap .result-pick-wrap .folder > [data-role="accordion:switchee"] .row [data-role=drawer]:hover {
	-webkit-filter: saturate(0.5);
	        filter: saturate(0.5);
}

.list-wrap .game-category ul {
	display: flex;
	gap: 3px;
}

/*betting list*/
.bet-list-container {
	width: 1300px;
}

.list-wrap .game-category ul li {
	text-align: center;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	border-top: 1px solid #ddd;
	display: block;
	padding: 7px 15px;
	color: var(--color-secondary);
	white-space: nowrap;
}

.list-wrap .game-category ul li.active {
	background: #38b8ff;
	color: white;
}

.bet-content {
	font-size: 0.85rem;
	color: var(--fg-primary);
	position: relative;
}

.bet-content table {
	margin-top: 10px;
}

.bet-content table td {
	padding:0 5px;
	border-right: 1px solid #595959;
	border-bottom: 1px solid #6b6b6b;
}

.bet-content table>thead>tr {
	margin: 0 auto;
    height: 38px;
    line-height: 20px;
    color: #e5e5e5;
    font-size: 0.8rem;
    background-color: #4b4b4bad;
}

.bet-content table>thead>tr>th {
	border-top: 1px solid var(--font-primary);
	border-right: 1px solid #595959;
}

.bet-content .league-wrap {
	text-align: left;
    padding-left: 5px;
    height: 55px;
    font-weight: 500;
    display: flex;
    place-items: center;
}

.bet-list-wrap .sel-pick {
	background-color: var(--color-main);
    color: white;
}

.bet-content>table>tbody {
	position: relative;
}

.bet-content>table>tbody>tr .team-name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.bet-content>table>tbody>tr .home-handi-mark{
	width: 13px;
	height: 16px;
	font-size: 1em;
	color: #00ff01;
}
.bet-content>table>tbody>tr .away-handi-mark{
	width: 13px;
	height: 16px;
	font-size: 1em;
	color: #00ff01;
}
.bet-content>table>tbody>tr .under-mark{
	position: absolute; 
	width: 13px; 
	height: 16px; 
	margin-top: 4px; 
	margin-left: 55px;
}
.bet-content>table>tbody>tr .over-mark{
	position: absolute;
	width: 13px;
	height: 16px;
	margin-top: 3px;
	margin-left: -72px;
}
.bet-content>table>tbody>tr>td .rate {
	color: #ffd100 !important;
}
.bet-content>table>tbody>tr>td .baseline {
	color: #00ff01 !important;
}
.bet-content>table>tbody>tr>td .status {
	-webkit-justify-content: center;
	justify-content: center;
	padding: 2px 10px;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 5px;
	height: 22px;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
}

.bet-content .bet-result {
	display: flex;
	padding: 5px;
	justify-content: center;
	gap: 5px;
}
.bet-content .bet-result.sports{
	justify-content: space-between;
	background: #363636;
	margin-bottom: 10px;
}
.bet-content .bet-result .info{display: flex;gap: 10px;align-items: center;}
.bet-content .bet-result.virtual-result {
	display: revert;
}

.bet-content .virtual-result a {
	width: unset;
}

.bet-content .bet-result .f-left  {
	padding-left: 20px;
	text-align: left;
}

.bet-content .bet-result .status {
	display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2px 5px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    width: 77px;
    line-height: 24px;
    margin-top: 4px;
}

.bet-content .bet-result .sp-number {
	font-size: 18px;
    font-weight: 700;
    color: var(--color-main);
}
.bet-list-wrap .btn-wrap {
	margin-top:10px
}
.bet-list-wrap .btn-wrap button{
	padding:5px 10px;
	background:#03A9F4;
	color:white;
	border-radius:5px
}
.bet-list-wrap .chk-wrap [type=checkbox]+label:before
{
    background:white
}

.bet-list-wrap .chk-wrap [type=checkbox]:checked+label:before
{
    background:none;
    border-right-color: white;
    border-bottom-color: white;
}

.bet-list-wrap .btn-sel {
    left: 16px;
    top: 16px;
    position: absolute;
}
.bet-list-wrap .btn-sel.icon-state:before {
    content:'\e97b';
    color:white;
    font-size: 14px;
}

.bet-list-wrap .on .btn-sel.icon-state:before {
    content:'\e97b';
    color:#00a8ea;

}
.bet-content .bet-result .bet-proc-wrap {
	display: flex;
	align-items: center;
	gap: 5px;
}

.bet-list-wrap .bet-result button {
    background: #cf0909;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.bet-list-wrap .slip {
    margin-bottom: 10px;
    background: linear-gradient(180deg, #404040, #303030);
    border-radius: 7px;
}

.bet-list-wrap .slip.on {
    border: 1px solid #03a9f4;
}
.bet-list-wrap .slip .title{
    background: #616161;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: white;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
.bet-list-wrap .slip .title .time {
    font-size: 12px;
    font-family: ko-bold!important
}

.bet-list-wrap .slip .title .txt {
    font-size: 14px;
    font-family: ko-bold!important;
    color: white;
}

.bet-list-wrap .slip .content {
    padding: 1px 8px 6px;
    position: relative;
}

.bet-list-wrap .slip .content .ballZone {
    font-size: 12px;
    border-bottom: 1px dotted #ffffff;
    color: #efefef;
    padding: 10px 5px;
}

.bet-list-wrap .slip .content .ballZone .team-wrap{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.bet-list-wrap .slip .content .ballZone .team-wrap .team{
    color: #4acaff;
    display: flex;
    align-items: center;
}

.bet-list-wrap .slip .content .ballZone .team-wrap .team img{
    margin-right: 5px;
}

.bet-list-wrap .slip .content .ballZone .time-wrap {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}
.bet-list-wrap .slip .content .ballZone .time-wrap .time{
    font-size: 11px;
    margin-right: 6px;
}

.bet-list-wrap .slip .content .ballZone .time-wrap .mark{
    color: #44b7eb;
}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
}
.bet-list-wrap .slip .content .ballZone .bet-pick-wrap > div{
    border: 1px solid #bdbdbd;
    padding: 7px 5px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .sel-pick {}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .home-pick {width: 100%;height: 100%;}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .base-line {height: 100%;}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .away-pick {width: 100%;height: 100%;}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .team-name {font-size: 10px;}

.bet-list-wrap .slip .content .ballZone .bet-pick-wrap .score {white-space:nowrap}
.bet-list-wrap .slip .content .ballZone .score-wrap {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bet-list-wrap .slip .content .ballZone .score-wrap .score {
    color: #4fcdff;
}

.bet-list-wrap .slip .content .status{
    padding: 5px 10px;
    border-radius: 5px;
    background: #0088ff;
    white-space: nowrap;
    color: white;
}

.bet-list-wrap .slip .content .resultZone {
    margin-top: 7px;
    align-items: center;
    width: 100%;
    align-items: end;
    color: white;
    font-size: 13px;
}

.bet-list-wrap .slip .content .resultZone .result{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.bet-list-wrap .slip .content .resultZone .result .sp-number {
    font-size: 16px;
    color: #32dbff;
    font-weight: 600;
}
.bet-list-wrap .slip .content .resultZone .button-wrap{
    border-top: 1px solid #aeaeae;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    gap:5px;
    display: flex;
    justify-content: center;
}
.bet-list-wrap .slip .content .resultZone .button-wrap button {
    padding: 7px 30px;
    border-radius: 5px;
    color: white;
	background:#03A9F4;
}
.bet-list-wrap .slip .content .resultZone button.btn-cancel{
    background: #f73759;
}

.bet-content .virtual-bet-result {
	line-height: 37px;
	background-color: #ffffff;
}

.bet-content .virtual-bet-result .virtual-bet-proc-wrap {
	display: flex;
	place-content: end;
}

#betting_cart .home-header {
    top: unset;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 199;
    transition: all .2s;
}

.home-header .header-content {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    align-items: center;
    width: 100%;
    height: 2.5em;
    /* background-color: #3c3c3c; */
		background-color: #E4E4EA;
    box-shadow: 0px 0px 10px rgba(61,61,71,.15);
	z-index: 1;
    position: relative;
}

.home-header .header-content>div {
    display: flex;
    flex: 1;
    place-content: center;
color: #070707;
}

#betting_cart .home-header .left-button {
    height: 100%;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
}

.home-header .icon_left {
    scale: 4;
    width: 0.16rem;
    height: 0.28rem;
    background-image: url(../images/sports/sprite.png);
    background-repeat: no-repeat;
    background-position: -0.2rem 0;
    background-size: 14.3rem 0.48rem;
	display: inline-block;
	/* filter: brightness(5.5); */
}

.pulse-rect {
	position: relative;
}
.pulse-rect:after {
	content: ' ';
	width: calc(100% + 0.2em);
	height: calc(100% + 0.2em);
	position: absolute;
	top: -0.1em;
	left: -0.1em;
	animation: anim_pulse_border 1s ease-out infinite;
	border-radius: inherit;
	z-index: -1;
}

@-webkit-keyframes anim_pulse_border {
	0% {
		-webkit-box-shadow: 0 0 0 0 #ff2d2d;
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}
@keyframes anim_pulse_border {
	0% {
		-moz-box-shadow: 0 0 0 0 var(--border);
		box-shadow: 0 0 0 0 var(--border);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px transparent;
		box-shadow: 0 0 0 10px #4e9daaab;
		background-color: #309bc6d4;
	}

	100% {
		-moz-box-shadow: 0 0 0 0 transparent;
		box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes anim_pulse {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}

	25% {
		-webkit-transform: scale(0.1);
		opacity: 0.1;
	}

	50% {
		-webkit-transform: scale(0.5);
		opacity: 0.3;
	}

	75% {
		-webkit-transform: scale(0.8);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 0.0;
	}
}