.mini_content {padding: 0px 15px;}

.mini_content .bet_cart{background: linear-gradient(45deg, #01163f, #133981);position: fixed;bottom: 70px;right: 10px;border-radius: 50%;padding: 10px;border: 1px solid #3F51B5;}
.mini_content .bet_cart img {width: 30px;height: 30px;}

.mini_content .bet-overlay {position:absolute;width:100%;height: 100%;background: url(../images/common/bg_disabled.png);background-size: 10%;background-color: #84848470;z-index: 3;visibility: hidden;}
.mini_content .bet-overlay.show {visibility: visible;}

.mini_content table thead th {padding: 12px;background: #0a62bd;color: white;border-right: 1px solid #1c7de2;}
.mini_content table thead th:last-child {border-right: none;}
.mini_content table tbody td {padding: 15px;border-right: 1px solid var(--border);color: var(--font);}
.mini_content table thead td:last-child {border-right: none;}
.mini_content table tbody tr {cursor: pointer;background: var(--bg-dark);border-bottom: 1px solid var(--border);}
.mini_content table tbody tr.tr-round-odd {background: var(--bg-darker);}

.mini_content .tab_wrap {font-size: 16px;}
.mini_content .tab_wrap ul.main_tap {white-space: nowrap;display: flex;width: 100%;gap: 1px;overflow: scroll;}
.mini_content .tab_wrap ul.main_tap li {width: 100%;text-align: center;background: linear-gradient(180deg, #3b3b3b, #181b16);color: var(--font);cursor: pointer;border-bottom: 1px solid;}
.mini_content .tab_wrap ul.main_tap li a {color:var(--font);display: block;width: 100%;padding: 15px;}
.mini_content .tab_wrap ul.main_tap li.active {background: #505050;border: 1px solid;border-bottom: none;}
.mini_content .tab_wrap ul.main_tap li:not(.active):hover {background: linear-gradient(180deg, #4d4d4d, #181b16);}
.mini_content .tab_wrap ul.sub_tap {display: flex;gap: 1px;margin: 0;flex-wrap: wrap;border: 1px solid #ddd;border-top: none;}
.mini_content .tab_wrap ul.sub_tap li {background: #505050;text-align: center;color: var(--font);cursor: pointer;flex: 100px;padding: 12px 0;display: block;white-space: nowrap;}
.mini_content .tab_wrap ul.sub_tap li a {color:var(--font);display: block;width: 100%;padding:5px}
.mini_content .tab_wrap ul.sub_tap li.active,
.mini_content .tab_wrap ul.sub_tap li:hover {background: var(--primary);color: white;}
.mini_content .tab_wrap ul.sub_tap li.disabled {opacity: 0.7;pointer-events: none;color: #aaaaaa;}

.mini_content .board-box {width: 30%;color: var(--font);padding: 5px;font-size: 16px;background: var(--bg-darker);}
.mini_content .board-box .title-wrap {color: var(--font);text-align: center;}
.mini_content .board-box .title-wrap .x-nav{text-align:right;}
.mini_content .board-box .title-wrap .x-nav span{font-size:20px;}
.mini_content .board-box .title-wrap .round-info {padding: 7px;color: #ff9664;font-size: 18px;font-weight: 600;}
.mini_content .board-box .title-wrap .title {font-size: 18px;padding: 5px;}
.mini_content .board-box .bet-info {display: flex;align-items: center;justify-content: center;margin-top: 10px;gap: 10px;}
.mini_content .board-box .bet-cash-info {display: flex;margin-top: 10px;font-size: 18px;font-weight: 600;justify-content: center;gap: 20px;}
.mini_content .board-box .bet-cart-box {margin-top: 10px;border: 1px solid var(--border);padding: 10px;border-radius: 5px;}
.mini_content .board-box .bet-cart-box .info-box {display: grid;grid-template-columns: repeat(2, 1fr);gap: 15px;}
.mini_content .board-box .bet-cart-box .info-box > div {padding: 5px 0;display: flex;justify-content: space-between;border-bottom: 1px solid var(--border);align-items: flex-end;height: 30px;}
.mini_content .board-box .bet-cart-box .bet-cash {display: flex;align-items: flex-end;height: 40px;}
.mini_content .board-box .bet-cart-box .bet-cash .txt {white-space: nowrap;margin-right: 15px;}
.mini_content .board-box .bet-cart-box .bet-cash input {border-radius: 5px;text-align: center;border-bottom: 1px solid var(--border);width: 100%;}

.mini_content .bet-btn-box {display: flex;gap: 3px;margin: 5px 0;flex-wrap: wrap;}
.mini_content .bet-btn-box .btn {background: linear-gradient(0deg, #363636, #444444);padding: 5px;flex: 80px;height: auto;color: var(--font);border: 1px solid var(--border);text-align: center;}
.mini_content .bet-btn-box .btn:hover {background: linear-gradient(0deg, #2e3f9b, #222d68);}
.mini_content .bet-btn-box .btn.btn-bet {background: linear-gradient(0deg, var(--primary), var(--primary-dark));}
.mini_content .bet-btn-box .btn.btn-reset {}
.mini_content .bet-btn-box .btn.btn-max {}

.mini_content .bet_section {display: flex;gap: 10px;position: relative;margin-top: 10px;}
.mini_content .pick_section {width: 100%;}
.mini_content .pick_section .pick_list {text-align: center;line-height: 30px;background: var(--bg-dark);padding: 7px;display: flex;gap: 7px;flex-wrap: wrap;}
.mini_content .pick_section .pick_list .pick_wrap {background: var(--bg);margin-bottom: 10px;border-radius: 5px;color: var(--font);flex: 49%;height: fit-content;}
.mini_content .pick_section .pick_list .pick_wrap .pick_title {background: var(--bg-darker);border-radius: 5px;margin: 0;width: 100%;box-shadow: rgba(0, 0, 0, 0.35) -3px 6px 6px -3px;padding: 7px 0;min-height: 30px;cursor: pointer;}
.mini_content .pick_section .pick_list .pick_bet {display: grid;grid-template-columns: repeat(4, 1fr);gap: 5px;padding: 5px;}
.mini_content .pick_section .pick_list .pick_bet .btnBet {background: linear-gradient(0deg, #2f2f2f, #4b4b4b);padding: 5px;border-radius: 5px;cursor: pointer;border: 2px solid #353535;}
.mini_content .pick_section .pick_list .pick_bet .btnBet:hover,
.mini_content .pick_section .pick_list .pick_bet .btnBet.on {background: var(--primary-lighten);border: 2px solid #ffffff;}
.mini_content .pick_section .pick_list .pick_bet .btnBet .mark {display: flex;justify-content: center;gap: 5px;padding: 5px;}
.mini_content .pick_section .pick_list .pick_bet.grid-2 {grid-template-columns: repeat(2, 1fr);}
.mini_content .pick_section .pick_list .pick_bet.grid-3 {grid-template-columns: repeat(3, 1fr);}
.mini_content .pick_section .pick_list .pick_bet.grid-5 {grid-template-columns: repeat(5, 1fr);}
.mini_content .pick_section .pick_list .bedd {width: 100%;text-align: center;display: block;color: #fcb900;font-size: 14px;}
.mini_content .pick_section .pick_list .bedd-title {color: var(--font);font-size: 16px;}
.mini_content .pick_section .bet-cart-box {position: relative;width: 100%;border-radius: 10px;}

.mini_content .mark {display: flex;gap: 3px;justify-content: center;flex-wrap: wrap;}
.mini_content .mark span {padding: 10px;border-radius: 50%;font-size: 16px;color: white;background-image: linear-gradient( hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%, hsl(0deg 0% 0% / 9%) 50%, hsla(0, 0%, 100%, 0.2) );border: 2px solid #e0e0e0;width: 40px;height: 40px;white-space: nowrap;display: flex;align-items: center;justify-content: center;}

.mini_content .ic_odd {background-color: var(--blue);}
.mini_content .ic_even {background-color: var(--red);}
.mini_content .ic_under {background-color: var(--blue);}
.mini_content .ic_over {background-color: var(--red);}
.mini_content .ic_left {background-color: var(--blue);}
.mini_content .ic_right {background-color: var(--red);}
.mini_content .ic_md {background-color: var(--green);}
.mini_content .ic_sm {background-color: var(--blue);}
.mini_content .ic_lg {background-color: var(--red);}
.mini_content .ic_num3 {background-color: var(--blue);}
.mini_content .ic_num4 {background-color: var(--red);}
.mini_content .ic_player {background-color: var(--red);}
.mini_content .ic_banker {background-color: var(--blue);}
.mini_content .ic_tie {background-color: var(--green);}
.mini_content .ic_player_pair {background-color: var(--blue);}
.mini_content .ic_banker_pair {background-color: var(--red);}
.mini_content .ic_dia {background-color: var(--red);}
.mini_content .ic_heart {background-color: var(--red);}
.mini_content .ic_clover {background-color: var(--black);}
.mini_content .ic_spade {background-color: var(--black);}
.mini_content .ic_dragon {background-color: var(--blue);}
.mini_content .ic_tiger {background-color: var(--red);}

.mini_content .ic_black {background-color: var(--black);}
.mini_content .ic_red {background-color: var(--red);}
.mini_content .ic_blue {background-color: var(--blue);}
.mini_content .ic_yellow {background-color: var(--gold);}

.mini_content .btn-blue {background-color: var(--blue);}
.mini_content .btn-green {background-color: var(--green);}
.mini_content .btn-black {background-color: var(--black);}
.mini_content .btn-red {background-color: var(--red);}

.mini_content .bet-success {color: #0f6fff;font-weight: bold;}
.mini_content .bet-fail {color: #ff0000;font-weight: bold;}
.mini_content .bet-waiting {color: #00ff00;font-weight: bold;}
.mini_content .bet-cancel {color: #00ff00;font-weight: bold;}
.mini_content .bet-off {color: #ff00aa;font-weight: bold;}
.mini_content .btn-bet-cancel {-webkit-justify-content: center;justify-content: center;padding: 2px 5px;background-color: var(--green);color: var(--font);border-radius: 5px;height: 30px;font-size: 12px;font-weight: 400;width: 80%;cursor: pointer;}

.mini_content .bet-record-wrap {margin-top: 20px;}
.mini_content .bet-record-wrap .bet-win {color: gold;font-weight: bold;}
.mini_content .bet-record-wrap .bet-lose {color: var(--red);font-weight: bold;}
.mini_content .bet-record-wrap .bet-cancel {color: var(--green-light);font-weight: bold;}

.mini_content .light-orange {color: #ffb100;}
.mini_content .light-green {color: #83bc82;}
.mini_content .light-blue {color: #0094ff;}

.mini_game_bet .view_section {text-align: center;display: flex;justify-content: center;}
.mini_game_bet .view-wrapper{overflow: hidden;height: 100%}
.mini_game_bet .view-wrapper .iframe-wrapper{-webkit-transform-origin: 0 0;}
.mini_game_bet .view-wrapper .iframe-wrapper .sk-frame{display: flex;flex-direction:column;}

.mini_game_bet .game-title {position: relative;border: 1px solid var(--border);border-radius: 5px;background: var(--bg-darker);box-shadow: rgba(0, 0, 0, 0.35) -3px 6px 6px -3px;height: 45px;line-height: 13px;margin: 10px 0;display: flex;justify-content: space-between;align-items: center;}
.mini_game_bet .game-title .top-time {font-size: 20px;color: var(--font);margin-left: 10px;}
.mini_game_bet .game-title .game-name {margin: auto;font-size: 20px;font-weight: bold;color: #ffb100;}
.mini_game_bet .game-title2 {margin-bottom: 3px;position: relative;border: 1px solid var(--border);border-radius: 5px;background: var(--bg);box-shadow: rgba(0, 0, 0, 0.35) -3px 6px 6px -3px;display: none;justify-content: space-between;display: flex;flex-flow: column;}
.mini_game_bet .game-title2 .game-driver-banner {padding: .5em;background: rgb(255 118 0 / 70%);z-index: 100;width: 100%;font-size: 12px;display: flex;justify-content: space-between;padding-left: 20px;}
.mini_game_bet .game-title2 .game-driver-banner > a[href] {text-decoration: underline;color: black;}
.mini_game_bet .game-title2 .btn-driver-banner-hide {padding: 0 1em;}

.mini_game_bet .game-show-btn:hover,
.mini_game_bet .game-show-btn.on {border: 1px solid #ff0000;background-image: linear-gradient(#d15656, #f3412f);color: var(--font);}
.mini_game_bet .game-show-btn {width: 126px;height: 35px;float: left;margin: 0 2px;box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 2px rgb(0 0 0 / 50%);border: none;border-radius: 5px;color: var(--font);font-size: 15px;transition: 0.3s;padding: 0;position: relative;overflow: hidden;background-image: linear-gradient(#fd6a6ae0, #d91f1feb);max-width: 30vw;text-align: center;}

.lotus_bet {text-align: -webkit-center;}
.lotus_bet .iframe_wrap {text-align:center;position: relative;width: 100%;  padding-bottom: 56.25%;display: flex;border: 2px solid #ffea00;background: rgba(0,0,0,0.5);}
.lotus_bet .iframe_wrap iframe {width: 100%;height: 100%;position: absolute;}
.lotus_bet .mark span {border-radius: 10px;width: auto;padding: 10px;min-width: 100px;}

.lotus_bet .pick_section .pick_list .pick_wrap {flex: auto;}
.lotus_bet .pick_section .pick_list .pick_wrap .pick_bet {display: flex;flex-wrap: wrap;}
.lotus_bet .pick_section .pick_list .pick_wrap .pick_bet .btnBet {flex: 120px;}

.mgm_bet {text-align: -webkit-center;}
.mgm_bet .iframe_wrap {text-align:center;position: relative;width: 100%;  padding-bottom: 56.25%;display: flex;border: 2px solid #ffea00;background: rgba(0,0,0,0.5);}
.mgm_bet .iframe_wrap iframe {width: 100%;height: 100%;position: absolute;}
.mgm_bet .mark span {border-radius: 10px;width: auto;padding: 10px;min-width: 100px;}

.mgm_bet .pick_section .pick_list .pick_wrap {flex: auto;}
.mgm_bet .pick_section .pick_list .pick_wrap .pick_bet {display: flex;flex-wrap: wrap;}
.mgm_bet .pick_section .pick_list .pick_wrap .pick_bet .btnBet {flex: 120px;}

.touch_bet .iframe_wrap {position: relative;width: 100%;height: 0;padding-bottom: 40%;}
.touch_bet .iframe_wrap iframe {position: absolute;width: 100%;height: 100%;top: 0;left: 50%;transform: translate(-50%, 0);max-width: 800px;}
.touch_bet .mark span {border-radius: 10px;width: 70px;height: 30px;}

.virtual_bet {display: flex;background: var(--bg-darker);padding-top: 10px;}
.virtual_bet .info_wrap {border-radius: 5px;cursor: pointer;}
.virtual_bet .info_wrap .info_item {border-radius: 5px;color: var(--font);border: 1px solid var(--border-dark);padding: 0px 7px;margin: 2px;display: flex;justify-content: space-between;cursor: pointer;align-items: center;font-size: 14px;height: 40px;width: 100%;}
.virtual_bet .info_wrap .info_item.on {color: var(--font);background-color: var(--primary-light);}
.virtual_bet .info_wrap .info_item:hover {background-color: var(--primary-lighten);border: 1px solid var(--primary-light);}
.virtual_bet .info_wrap .info_item input {border: navajowhite;text-align: right;}
.virtual_bet .info_item .left {display: flex;justify-content: center;grid-gap: 5px;word-wrap: nowrap;}
.virtual_bet .info_item .right {text-align: right;}

.virtual_bet .bet_section {overflow-y: scroll;overscroll-behavior: contain;position: relative;overflow-x: clip;width: 100%;display: block;border: 1px solid var(--border);}
.virtual_bet .bet_section .header-wrap {display: flex;justify-content: space-between;padding: 10px;margin-left: 10px;margin-right: 10px;align-items: center;text-align: center;border-bottom: 1px solid var(--primary);}
.virtual_bet .bet_section .header-wrap #time-limit {display: flex;align-items: center;grid-gap: 10px;color: var(--font);}
.virtual_bet .bet_section .header-wrap .btn_gray {border: 1px solid var(--primary);border-radius: 3px;cursor: pointer;padding: 8px 10px;font-size: 13px;color: var(--primary);}
.virtual_bet .bet_section .header-wrap .btn_gray:hover,
.virtual_bet .bet_section .header-wrap .btn_gray.active {color: var(--font);background-color: var(--primary-lightest);}

.virtual_bet .bet_section .game_list {padding: 5px 15px;margin-top: 15px;height: calc(100vh - 250px);overflow: scroll;}
.virtual_bet .bet_section .game_list .main_game_list_info {display: flex;align-items: center;}
.virtual_bet .bet_section .game_list .main_game_list_info .info_item {width: 100%;}
.virtual_bet .bet_section .game_list .main_game_list_info .expand-arrow {font-size: 18px;background: var(--primary);color: var(--font);border-radius: 5px;height: 40px;width: 60px;text-align: center;line-height: 35px;margin-left: 3px;}
.virtual_bet .bet_section .game_list .main_game_list_info .expand-arrow::before {content: '+';}
.virtual_bet .bet_section .game_list .main_game_list_info .expand-arrow.on::before {content: '-';}
.virtual_bet .bet_section .game_list .main_game_list_info img {width: 25px;}
.virtual_bet .bet_section .game_list .sub_game_list ul {}
.virtual_bet .bet_section .game_list .sub_game_list ul li {display: flex;align-items: center;}
.virtual_bet .bet_section .game_list .sub_game_list ul li .title {width: 100px;text-align: center;font-size: 14px;color: var(--font);}
.virtual_bet .bet_section .game_list .sub_game_list ul li .bet_area {display: flex;width: 100%;gap: 2px;margin-right: 60px;justify-content: space-between;}
.virtual_bet .bet_section .game_list .sub_game_list ul li .bet_area .draw {justify-content: center;width: 20%;}
.virtual_bet .bet_section .game_list .sub_game_list img {width: 23px;}
.virtual_bet .bet_section .game_list .sub_game_list img.arrow {width: 12px;}

.virtual_bet .view_section {height: calc(100vh - 210px);overflow-y: scroll;position: relative;width: 100%;padding: 10px;}
.virtual_bet .view_section .iframe_wrap {text-align:center;position: relative;width: 100%;  padding-bottom: 56.25%;display: flex;border: 2px solid #ffea00;background: rgba(0,0,0,0.5);}
.virtual_bet .view_section .iframe_wrap iframe {width: 100%;height: 100%;position: absolute;}
.virtual_bet .view_section .game_kind {display: grid;grid-auto-flow: column;margin-top: 5px;overflow: scroll;}
.virtual_bet .view_section .game_kind button {text-align: center;background: var(--bg-darker);color: var(--font);border-right: 1px solid var(--border);padding: 15px;white-space: nowrap;}
.virtual_bet .view_section .game_kind button.active,
.virtual_bet .view_section .game_kind button:hover {border-bottom: 2px solid var(--primary);color: var(--primary);}

.virtual_bet .board-box {width:100%;margin-top:5px;}
.virtual_bet .board-box .info-box > div.bet-cash {border-bottom: none;}
.virtual_bet .bet-btn-box .btn {flex: 15%;}

.iframe_wrap.inspection:after {content: attr(data-content);color: white;background: rgba(0, 0, 0, 0.6);position: absolute;z-index: 10;top: 0;left: 0;width: 100%;height: 100%;display: inline-flex;justify-content: center;align-items: center;font-size: 2em;}

@media (max-width : 800px) {
    .mark span {width: 25px;height: 25px;}
    .mini_content {padding:5px}
    .mini_content .tb-bet-board {display: none}
    .mini_content .tab_wrap ul.sub_tap li a {padding: 10px 0}
    .mini_content .board-box {width: 100%;display: none;width: 100%;height: 100%;position: fixed;top: 47px;min-width: 300px;z-index: 900;padding: 10px;padding-bottom: 80px;right: 0px;overflow-y: scroll;}
    .mini_content .board-box.aside {display: block;}
   
    .bet_section {flex-wrap: wrap;flex-direction: column-reverse;}
    .mini_game_bet .bet_section .pick_list {display: block;}
    .mini_game_bet .bet_section .pick_list .bedd-title {display: none}
    .mini_game_bet .bet_section .pick_list .pick_wrap {}

    .virtual_bet {flex-wrap: wrap;flex-direction: column-reverse;height: auto;margin: 5px;}
    .virtual_bet .board-box .info-box {grid-template-columns: 1fr;gap: 12px;}
    .virtual_bet .board-box .title-wrap {color: var(--font);text-align: center;position: relative;}
    .virtual_bet .board-box .title-wrap .x-nav{text-align:right;}
    .virtual_bet .board-box .title-wrap .x-nav span{font-size:20px;}
    .virtual_bet .board-box .title-wrap .title {font-size: 18px;padding: 5px;color: #ff9664;font-size: 18px;font-weight: 600;}
    .virtual_bet .bet-btn-box .btn {flex:30%;}
    .virtual_bet .bet_section .header-wrap {margin: 0;border: 1px solid var(--border);}
    .virtual_bet .bet_section .game_list {padding: 0;margin: 0;}
    .virtual_bet .bet_section .game_list .sub_game_list ul li {display: flex;flex-direction: row-reverse;}
    .virtual_bet .bet_section .game_list .sub_game_list ul li .title {margin: 0;width: 60px;display: flex;border: 1px solid #494646;height:40px;display:flex;align-items: center;text-align: center;justify-content: center;border-radius: 5px;}
    .virtual_bet .bet_section .game_list.soccer .sub_game_list ul li .bet_area {margin-right:2px;}
    .virtual_bet .view_section {height: auto;padding: 0;}

    .lotus_bet .iframe_wrap {padding-bottom: calc(56.25% + 656px);}
    .touch_bet .iframe_wrap {padding-bottom: 103%}
}

@media (max-width : 450px) {
    .touch_bet .iframe_wrap {padding-bottom: 92%;overflow: hidden;}
    .touch_bet .iframe_wrap iframe{margin-top: -39%;height: -webkit-fill-available;}
}

.mini_content {
    --primary: #00a8ea;
    --primary-light: #00a7ed;
    --primary-lighten: #12b9ff;
    --primary-dark: #158ac0;
    --gray-main: #f0eeff61;
    --bg: #929292;
    --bg-dark: #424242;
    --bg-darker: #262626;
    --bg-darkest: #F4F1FF;
    --border: #635f5f;
    --border-dark: #404040;
    --border-darker: #777777;
    --font-ligher: #999999;
    --font-light: #777777;
    --font: #fff;
    --font-dark: #222222;
    --font-darker: #000000;
    --red: #be0000;
    --blue: #005fff;
    --black: #000000;
    --green: #1a9728;
    --green-light: #00ff24;
    --gold: #e6b31e;
    --orange: #f16f00;
    --yellow: #f0c840;
}