@charset "utf-8";

#menu {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 300;
  transition: 0.2s all;
}

#menu li {
  height: 4.5em;
  position: relative;
}

#menu .footer-list {
  display: -webkit-flex;
  display: flex;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  -webkit-backdrop-filter: blur(0.2em);
  backdrop-filter: blur(0.2em);
  box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.2);
  background-color: #3e3e3e;
  padding-bottom: 0.4em;
}

#menu .footer-list a,
#menu .footer-list li {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#menu .footer-list a {
  font-size: 0.8em;
  color: #9facc5;
}

#menu .footer-list a .footer-icon.home {
  background-position: -0.2em 0.5em;
}

#menu .footer-list a .footer-icon.promo {
  background-position: -4.3em 0.5em;
}

#menu .footer-list a .footer-icon.member {
  background-position: -16.4em 0.5em;
}

#menu .footer-list a .footer-icon.sponsor {
  background-position: -8.4em 0.5em;
}

#menu .footer-list a .footer-icon.service {
  background-position: -12.4em 0.5em;
}

#menu .footer-list a span {
  margin-top: 0.1em;
}

#menu .footer-list a.on {
  color: var(--color-primary);
  animation: bounceDown 0.5s ease-in-out;
  -webkit-animation: bounceDown 0.5s ease-in-out;
}

#menu .footer-list a.on .footer-icon.home {
  background-position: -20.4em 0.5em;
}

#menu .footer-list a.on .footer-icon.promo {
  background-position: -24.6em 0.5em;
}

#menu .footer-list a.on .footer-icon.service {
  background-position: -32.7em 0.5em;
}

#menu .footer-list a.on .footer-icon.sponsor {
  background-position: -28.6em 0.5em;
}

#menu .footer-list a.on .footer-icon.member {
  background-position: -36.8em 0.5em;
}

#menu .footer-list .flash-animate .flash-one {
  -webkit-animation: flashScale 0.9s ease-out;
  animation: flashScale 0.9s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#menu .footer-list .flash-animate .flash-two {
  -webkit-animation: flashScale 0.9s ease-out 0.2s;
  animation: flashScale 0.9s ease-out 0.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#menu .footer-icon {
  width: 3.5em;
  height: 3.5em;
  background-image: url(../images/common/mobile_menu.png);
  background-repeat: no-repeat;
  background-size: 40.6em 3.5em;
  filter: var(--filter1);
}

#menu .footer-list a .footer-icon.logout {
  background-image: url(../images/common/logout.png);
  background-size: 3.5em 3.2em;
  background-position: center 0.7em;
}

@-webkit-keyframes bounceDown {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  20% {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
  }

  40% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceDown {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  20% {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
  }

  40% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* ==========================================================================
   mobile styles
   ========================================================================== */
/* common */

/* media */
@media screen and (min-width: 991px) {

  /* pc device */
  .mob {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {

  /* mobile device */
  :root {
    --min-width: 300px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 3px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #acacac;
  }

  body {
    font-size: calc(.5em + 1vmin);
  }

  .pc {
    display: none !important;
  }

  header .container {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }

  header .container .logo {
    height: 4.2em;
    padding: 12px;
  }

  header .container .menu {
    float: left;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 33px;
    filter: var(--filter1);
  }

  header .container .myinfo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-flow: column;
  }

  header .container .myinfo span {
    color: aliceblue;
    background: #8b9bac;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 25px;
  }

  #app {
    top: 0; /* 4.2em */
  }
  .sports-betting-wrap .sports-container>.right {
    right: 48px;
    bottom: 155px
  }

  #game {
    padding-top: 0.3em;
    padding-bottom: 2.5em;
  }

  #game .game-list .game_item img {
    border-radius: 3px;
  }

  #game .hotgame-container .game-list.lotus, #game .hotgame-container .game-list.virtual, #game .hotgame-container .game-list.mgm {
    padding-bottom: 60vh;
  }

  #main #_1 {
    margin: 8px;
    border-radius: 10px;
    aspect-ratio: auto;
  }

  #_1 img {
    max-height: 150px;
  }

  #_1 .home-banner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  #main {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    font-size: 1em;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background: #524f4f;
    -webkit-overflow-scrolling: touch;
  }

  #main .banners {
    height: 2.88em;
    overflow-y: hidden;
  }

  #main .banners .home-banner {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  #main .banners .home-banner .slick-list {
    height: 100%;
  }

  #main .banners .home-banner .slick-list .slick-track {
    height: 100%;
  }

  #main .banners .home-banner .slick-list .slick-track .slick-slide {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #main .banners .home-banner img {
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.1em;
  }

  #main .home_content {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
  }

  #main .home_content .home_article {
    height: 2em;
    padding: .2em 0;
    background-color: #524f4f;
  }

  #main .home_content .home_article .notice_root {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 2em;
    padding: 0 1.2em;
    color: #e7dede;
    z-index: 2;
    width: 100%;
    overflow: hidden;
  }

  #main .home_content .home_article .notice_root .notice_icon {
    width: 1.5em;
    height: 1.5em;
    filter: hue-rotate(297deg);
  }

  #main .home_content .home_article .notice_root .marquee {
    overflow: hidden;
    position: relative;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-flex;
    display: flex;
    margin: 0 .5em;
    color: #eaeaea;
  }

  #main .home_content .home_article .member_nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #524f4f;
    height: 5em;
    margin-top: 0.2em;
    padding: 0 1em;
  }

  #main .home_content .home_article .member_nav .memberlevel {
    height: 100%;
  }

  #main .home_content .home_article .member_nav .memberlevel img {
    height: 100%;
  }

  #main .home_content .home_article .member_nav .nav_left_login {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    color: #e9e9e9;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_name {
    vertical-align: top;
    display: inline-block;
    min-width: 0.76em;
    margin-right: 0.1em;
  }

  #main .home_content .home_article .member_nav .nav_left_login .memberlevel img {
    width: 0.5em;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info ul {
    margin-right: 10px;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info .tit {
    color: #71b6ff;
    margin-right: 5px;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info i::before {
    width: 20px;
    height: 20px;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info .user-login {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1em;
    margin-right: 1ch;
    position: relative;
    border-radius: 2em;
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.5em 1.2em;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user_info .user-login .icon-id::before {
    background-color: #fff;
    color: var(--color-primary);
  }

  #main .home_content .home_article .member_nav .nav_left_login .user-register {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.5em 1.2em;
    font-size: 1em;
    border: 1px solid #b7c0db;
    border-radius: 2em;
    color: #b7c0db;
  }

  #main .home_content .home_article .member_nav .nav_left_login .user-register .icon-id::before {
    background-color: #b7c0db;
  }

  #main .home_content .home_article .member_nav .nav_left_login .sumBalance {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.3em;
    font-weight: 700;
    color: #414655;
  }

  #main .home_content .home_article .member_nav .nav_left_login .refresh-balance {
    width: 0.35em;
    height: 0.4em;
    margin-left: 0.1em;
  }

  #main .home_content .home_article .member_nav .nav_left_login .refresh-balance .am-icon {
    display: block;
    width: 0.35em;
    height: 0.35em;
  }

  #main .home_content .home_article .member_nav .nav_left_login .refresh-balance .icon-refresh.rotateFull {
    -webkit-animation: rotate-full 0.5s linear infinite;
    animation: rotate-full 0.5s linear infinite;
  }

  #main .home_content .home_article .member_nav .nav_left_nologin {
    padding-top: 0.1em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 0.26em;
    color: #888;
  }

  #main .home_content .home_article .member_nav .nav_left_nologin h5 {
    line-height: 0.48em;
    font-size: 0.28em;
    color: #414655;
    font-weight: 400;
  }

  #main .home_content .home_article .member_nav .nav_left_nologin p {
    font-size: 0.24em;
    color: #a5a9b3;
  }

  #main .home_content .home_article .member_nav .nav_right {
    padding-left: 0.2em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  #main .home_content .home_article .member_nav .nav_right>.letter {
    position: relative;
  }

  #main .home_content .home_article .member_nav .nav_right>.letter>.letter-count {
    position: absolute;
    background: red;
    width: 4em;
    height: 4em;
    /* padding: 0.5em; */
    color: white;
    border-radius: 14px;
    top: 1px;
    right: -5px;
  }

  #main .home_content .home_article .member_nav .nav_right>.letter>.letter-count:empty {
    display: none;
  }

  #main .home_content .home_article .member_nav .nav_right .nav_icon {
    width: 3.2em;
    height: 3.72em;
    background: url(../images/common/sprite2.png) no-repeat;
    background-size: 40em 7.4em;
    filter: var(--filter1);
  }

  #main .home_content .home_article .member_nav .nav_right .nav_icon.withdraw {
    background-position: -7.1em 0;
  }

  #main .home_content .home_article .member_nav .nav_right .nav_icon.letter {
    background-position: -21.6em 0;
    background-size: 41em 7.3em;
  }

  #main .home_content .home_article .member_nav .nav_right .nav_name {
    color: var(--font-primary);
    font-size: 1em;
    font-weight: 400;
  }

  #main .home_content .home_article .member_nav a {
    width: 3.2em;
    margin-left: .2em;
    text-align: center;
  }

  #main .home_content .gameEnter-wrap {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    padding-left: 0.18em;
    transition: all 0.5s;
    overflow: hidden;
    padding-top: 6.5em;
    margin-bottom: 4em;
    height: calc(100vh - 6.68rem - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    height: calc(var(--vh, 1vh) * 100 - 6.68rem);
    background-color: #524f4f;
  }

  #main .home_content .gameEnter-wrap .game-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 7em;
    height: 100%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    overflow-y: auto;
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list {
    position: relative;
    overflow-y: auto;
    padding: .5em;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item {
    width: 5em;
    height: 5em;
    margin-bottom: 1.2em;
    border-radius: 1.5em;
    box-shadow: var(--shadow-secondary);
    background-image: url(../images/common/left_menu_bg_enable.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-name {
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    color: #9aa4c2;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 3.3em;
    height: 3.3em;
    background-size: 100%;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.LOTT {
    background-image: url(../images/common/_minigame.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.RNG {
    background-image: url(../images/common/_slot.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.LIVE {
    background-image: url(../images/common/_casino.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.HOLDEM {
    background-image: url(../images/common/_casino.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.SPORTS {
    background-image: url(../images/common/_sports.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.INPLAY {
    background-image: url(../images/common/_inplay.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item .game-menu-icon.V-SPORTS {
    background-image: url(../images/common/_esports.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow-primary);
    background-image: url(../images/common/left_menu_bg_able.png);
    filter: var(--filter1);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-name {
    color: #fff;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon {
    background: url(../images/common/casino.png);
    background-size: 100% 100%;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.LOTT {
    background-image: url(../images/common/minigame.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.RNG {
    background-image: url(../images/common/slot.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.LIVE {
    background-image: url(../images/common/casino.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.HOLDEM {
    background-image: url(../images/common/casino.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.SPORTS {
    background-image: url(../images/common/sports.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.INPLAY {
    background-image: url(../images/common/inplay.png);
  }

  #main .home_content .gameEnter-wrap .game-menu .game-menu-list .game-list-item.on .game-menu-icon.V-SPORTS {
    background-image: url(../images/common/esports.png);
  }

  #main .home_content .gameEnter-wrap .game-content-wrap {
    position: relative;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    width: 100%;
    overflow: scroll;
    margin-right: 5px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-content-list {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0ms;
    -webkit-transform: translate(0px, 0px) scale(1) translateZ(0px);
    transform: translate(0px, 0px) scale(1) translateZ(0px);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content {
    width: 100%;
    display: block;
    -webkit-animation: slideDown 0.2s ease;
    animation: slideDown 0.2s ease;
    /* margin-bottom: 1.5em; */
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container {
    padding: 0 0.15em;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 1.5em; */
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list.slot {
    grid-template-columns: repeat(2, 1fr);
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item img {
    width: 100%;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon {
    width: 45px;
    height: 50px;
    margin-right: 7px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-image: url(../images/image/logo_bg_on.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon {
    display: -webkit-flex;
    display: flex;
    width: 25px;
    height: 22px;
    margin-top: 0;
    background-image: url(../images/image/header/logo_sprite.png);
    background-size: 800px auto;
    background-repeat: no-repeat;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.LOTT {
    background-position: -56px -64px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.casino5001 {
    background-position: -128px -4px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.casino5006 {
    background-position: -504px -6px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.casino5009 {
    background-position: -309px -5px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.casino5010 {
    background-position: -225px -5px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-list .hotgame-item .header_smallicon .btn-icon.casino5012 {
    background-position: -593px -35px;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .slide-content {
    width: 100%;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .slide-content .hotgame-icon {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0.1em;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .slide-content .game-info {
    height: 0.44em;
    padding: 0 0.13em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .slide-content .game-info p {
    width: 100%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.22em;
    color: #414655;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .slide-content .game-info span {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0.56em;
    height: 0.3em;
    background-image: linear-gradient(#e4cdba, #e4cdba), linear-gradient(#fff, #fff);
    background-blend-mode: normal, normal;
    border-radius: 0.08em;
    font-size: 0.2em;
    color: #fff;
  }

  #main .home_content .gameEnter-wrap .game-content-wrap .game-tabs-content .hotgame-container .game-bg {
    padding: 0.13em;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #_3 {
    width: 100%;
    margin: auto;
  }

  .notice_popup_area {
    overflow-y: scroll;
  }

  .notice_popup_area .popup_wrapper {
    top: auto;
    left: auto;
  }

  .notice_popup_area .popup_wrapper .notice_popup {
    width: 100% !important;
  }

  .notice_popup_area .popup_wrapper .notice_popup>.pop_box {
    min-height: 100px;
  }

  .loading-box {
    border-radius: 0px;
  }

  .blocker {
    padding: 0;
    overflow-x: hidden;
    /* background: none; */
  }

  .blocker::-webkit-scrollbar {
    width: 0em;
  }

  .modal {
    width: 100%;
  }

  #login_pop {
    width: 100%;
    height: 100%;
    min-height: 540px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
  }

  #login_pop .login-wrap {
    margin: auto;
    height: 100%;
  }

  #login_pop .login-wrap form {
    width: 90%;
  }

  #join_pop {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  #join_pop .content form .input-wrap {
    display: block;
  }

  #join_pop .content form .input-wrap .input-box {
    margin-bottom: 1em;
  }

  #join_pop .content form .input-box.phone input {
    width: 100%;
  }

  #app .title-wrap .title {
    font-size: 1.3em;
  }

  #board .content .tit-box {
    font-size: 1.2em;
  }

  #board .content .tit-box .col-title {
    font-size: 1.1em;
  }

  #board .content .tit-box .col-back a {
    font-size: 1em;
  }

  #app .container {
    width: 100%;
    padding: 10px;
  }

  #app .container.sports {
    padding: 3px;
    margin-top: 0px;
    /* background: #121010; */
  }

  #miniList {
    background: #616161;
  }

  #miniList .game-list.mini {
    padding: 0px 10px;
  }

  #miniList .mini-game-wrap {
    background: #909090;
    border-radius: 10px;
  }

  #miniList .mini-game-wrap .mini-type li {
    margin: 5px;
  }

  #miniList .game-list.mini li {
    list-style-type: none;
  }

  #app .list-wrap {
    margin-top: 10px;
  }

  #app .list-wrap ul.imgList {
    grid-template-columns: repeat(2, 1fr);
  }

  #app .title-wrap {
    margin-top: 10px;
  }

  #app .desc-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4em;
    background-image: url(../images/common/mob_top_bg.png);
    background-size: 100% 100%;
  }

  #app .desc-wrap .desc {
    display: flex;
    align-items: center;
    margin-left: 2em;
    gap: 1em;
  }

  #app .desc-wrap .desc .title {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--color-primary);
  }

  #app .desc .sub-desc {
    color: #444;
  }

  #sub .container form {
    margin-top: 0.6em;
    padding: 0;
  }

  #sub .container .input-wrap.memo .content {
    font-size: 13px;
  }

  #slot .tab-container {
    display: block;
  }

  #slot .tab-container>.tab-header {
    top: auto;
  }

  #slot .tab-container>.tab-header ul {
    display: flex;
  }

  #slot .tab-container>.tab-body {
    margin-left: 0;
    margin-top: 10px;
    min-width: var(--min-width)
  }

  #slot .tab-container>.tab-body .menu {
    padding: 0 20px;
  }

  #slot .tab-container>.tab-body .menu .list {
    width: auto;
  }

  #slot .tab-container>.tab-body .menu .search-box {
    right: 0;
    width: 180px;
  }

  #slot .tab-container>.tab-body .menu .search-box input {
    width: 180px;
  }

  #slot .tab-container>.tab-body .tab-content .game-list, #slot .tab-container>.tab-body .tab-content .recommend-list, #slot .tab-container>.tab-body .tab-content .subscribe-list {
    grid-gap: 0.5em;
  }

  .modal {
    width: 100%;
  }

  .slide-left {
    margin-left: 13em;
    position: fixed;
    width: 100%;
  }

  .slide-content-left {
    position: fixed;
    z-index: 5;
    border-right: 1px solid #838383;
    width: 13em;
    height: 100%;
    overflow-y: scroll;
    padding-top: 0.5em;
    padding-bottom: 5.5em;
    display: none;
    background-color: #524f4f;
  }

  .slide-content-left.active {
    display: inline;
  }

  .slide-content-left .main-info {
    padding-top: 1em;
    background: white;
    border-radius: 0px 0px 1.5em 1.5em;
    margin-bottom: 1em;
  }

  .slide-content-left .main-info .content {
    padding: 15px;
  }

  .slide-content-left .main-info img {
    width: 2em;
  }

  .slide-content-left .main-menu {
    display: grid;
    font-size: 1.1em;
  }

  .slide-content-left .main-menu li {
    margin: 2px 8px;
    background-image: linear-gradient(#4d4c4c, #363636);
    border-radius: 8px;
    border: 1px solid #313131;
    padding: 9px;
  }

  .slide-content-left .main-menu li a {
    display: flex;
  }

  .slide-content-left .main-menu li .txt {
    color: #fff;
    font-size: 1em;
    white-space: nowrap;
  }

  .slide-content-left .main-menu li .icon {
    display: flex;
  }

  .slide-content-left .main-menu li .icon img {
    width: 1.6em;
    margin-right: 5px;
  }

  .slide-content-left .other-menu {
    display: grid;
    font-size: 1.2em;
  }

  .slide-content-left .other-menu li {
    margin: 3px 8px;
    border-bottom: 1px solid #838383;
    padding: 5px;
  }

  .slide-content-left .other-menu li a {
    display: flex;
  }

  .slide-content-left .other-menu li .txt {
    color: var(--font-primary);
    font-size: 1em;
  }

  .slide-content-left .other-menu li .icon {}

  .slide-content-left .other-menu li .icon img {
    width: 20px;
    margin-right: 5px;
    filter: invert(39%) sepia(81%) saturate(6824%) hue-rotate(247deg) brightness(106%) contrast(101%);
  }

  .slide-content-left .left-talk {}

  .slide-content-left .left-talk .ui-menu {
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 5px;
  }

  .slide-content-left .left-talk .ui-menu img {
    width: 1.5em;
    padding: 2px;
    filter: hue-rotate(160deg);
  }

  .slide-content-left .left-talk .ui-menu dd {
    border-left: 1px solid var(--border);
    padding: 2px 5px;
  }

  .slide-content-left .left-talk .ui-menu .tit {
    font-size: .8em;
  }

  .slide-content-left .left-talk .ui-menu .txt {
    font-size: .95em;
    color: var(--font-primary);
  }

  .slide-content-left .logout {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
  }

  .slide-content-left .logout a {
    display: flex;
    align-items: center;
    padding: 7px;
  }

  .slide-content-left .logout img {
    width: 15px;
    margin-right: 5px;
    filter: hue-rotate(308deg);
  }

  .virtual_bet .game_box {
    display: block;
  }

  .virtual_bet .game_box .game_section {
    display: block;
  }

  .virtual_bet .game_box .view_section {
    display: none;
  }

  .virtual_bet .game_box.detail .game_section {
    display: none;
  }

  .virtual_bet .game_box.detail .view_section {
    display: block;
  }

  .virtual_bet .virtual-header {
    position: fixed;
    z-index: 9999;
    background: white;
    width: 100%;
    top: 0px;
    height: 3em;
    text-align: center;
  }

  .virtual_bet .virtual-header .left {
    background: url(../images/common/left-arrow.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    top: 11px;
    left: 8px;
  }

  .virtual_bet .virtual-header .center {
    font-size: 1.5em;
    background-color: #3c3c3c;
    line-height: 2em;
  }

  .virtual_bet .game_box .view_section .bet_info .btn_box .btn_cash {
    padding: 7px;
  }

  .virtual_bet .info_wrap .info_item {
    margin: 1px;
  }

  .list-wrap .result-pick-wrap .folder>[data-role="accordion:switchee"] .row {
    font-size: 0.7em;
  }

  .list-wrap .result-pick-wrap .folder>[data-role="accordion:switcher"] .left {
    font-size: 0.7em;
  }

  .list-wrap .result-pick-wrap .folder>[data-role="accordion:switcher"] .left .league {
    float: right;
    text-align: right;
    right: 16px;
    position: absolute;
  }

  .list-wrap .result-pick-wrap .folder>[data-role="accordion:switcher"] .left {
    width: 100%;
  }

  .list-wrap .result-pick-wrap .folder>[data-role="accordion:switcher"] .left .location {
    display: inline-block;
    line-height: 28px;
    height: 30px;
    border-radius: 3px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    width: 45%;
  }

  .list-wrap .game-category ul {
    place-content: initial;
    overflow: scroll;
    padding: 2px;
    margin-bottom: 5px;
    place-content: initial;
  }

  .list-wrap .game-category ul li {
    margin-right: 4px;
  }

  .paging_box {
    margin-bottom: 25px;
  }

  .sports-container .paging_box {
    margin-top: 15px;
    /* margin-bottom: 80px; */
    /* margin-bottom: 30px; */
    margin-bottom: 0;
    /* padding-bottom: 50px; */
  }

  .pagination>li>a, .pagination>li>span {
    margin: 0px;
  }

  .sports-betting-wrap .sports-container>.main .split #main-selector {
    min-width: 100%;
  }

  .sports-betting-wrap {
    min-width: unset;
  }

  #sports_abroad .sports-container>.main .split {
    grid-template-columns: 933fr;
  }

  #sports_live .sports-container>.main .split {
    grid-template-columns: 1fr;
  }

  .sports-betting-wrap .sports-container {
    min-width: unset;
    max-width: unset;
    grid-template-columns: 100%; /* 1fr */
    margin-top: 0px;
    height: 100%;
  }

  .sports-betting-wrap .sports-container>.main .split .selector {
    height: 45px;
  }

  .sports-betting-wrap .sports-container>.main .split .selector .item .number {
    margin-left: 7px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row {
    grid-template-columns: 1fr 5ch;
    padding: 5px 0px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] {
    padding: 0 5px 0 5px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] .left {
    font-size: 10px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet {
    background-color: unset;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) .name {
    font-size: 10px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .left-under-mark {
    min-width: 9px;
    left: 0px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right-under-mark {
    min-width: 9px;
    right: 0px
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .left-handi-mark {
    left: 0px;
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right-handi-mark {
    right: 0px;
  }

  .sports-betting-wrap .sports-container>.right #betting_cart_opener {
    right: unset;
    margin-right: -33px;
    margin-bottom: 0px;
    width: 60px;
    height: 60px;
  }

  .sports-betting-wrap .sports-container>.right #betting_cart {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    position: fixed;
    -webkit-filter: unset;
    filter: unset;
    padding: unset;
    z-index: 1;
    top: 1px;
  }

  .sports-betting-wrap .sports-container>.right .options .option .history .content-wrap .content {
    /* width: 80%; */
  }

  .sports-betting-wrap .scroll .monitor .executer-wrap .executer {
    font-size: 0.8em;
  }

  .quickbetting>.top {
    padding: unset;
    padding-left: 60px;
    color: #565A5F;
  }

  .quickbetting>.bottom .switch {
    top: 5px;
  }

  .quickbetting>.bottom .icon-icconWARNING {
    place-content: center;
    color: red;
  }

  .quickbetting>.top .money input {
    width: 55%;
  }

  .quickbetting>.top .money button {
    right: 90px;
  }

  .league-menu-wrap {
    display: flex;
    position: absolute;
    top: 0px;
    right: 4px;
    place-items: center;
    color: #565A5F;
  }

  .mob-main-header .league-menu {
    width: 33px;
    position: relative;
    top: 2px;
  }

  .mob-market-list .detail-wrap {
    height: unset !important;
    margin-bottom: 10px !important;
    /* border: 2px solid var(--primary) !important; */
    border: 2px solid #633DEA !important;
  }

  .mob-market-list .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option {
    /* background-color: #363636 !important; */
  }

  .mob-market-list .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option .name {
    font-size: 10px !important;
  }

  #sports_live .sports-container>.main .split #main-selector {
    min-width: 100%;
  }

  #sports_live .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .top {
    font-size: 12px;
  }

  #sports_live .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row [data-role=drawer] {
    font-size: 12px;
  }

  .sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option:hover {
    /* background-color: unset; */
    background-color: rgba(255, 153, 0, 0.49) !important;
    color: var(--fg-primary);
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover {
    background-color: unset;
    color: var(--fg-primary);
  }

  .sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:hover {
    background-color: var(--primary-more-light);
    color: var(--fg-primary);
  }

  .sports-betting-wrap .sports-container>.main .split .folder-wrap {
    /* height: calc(100vh - 155px - 30px - 44px); */
    height: 100vh;
    /* padding-bottom: 30px; */
    padding-bottom: 30px;
  }

  #attendance .container .calendar-wrap .calendar .rows .cell {
    height: 4em;
  }

  #roulette .container .roulette-info {
    position: unset;
    width: 100%;
  }

  #roulette .container .roulette-info::after {
    display: none;
  }

  #roulette .container .roulette-info .count-wrap .content .coupon {
    width: 4em;
    height: 4em;
  }

  .lotus-container .bet-wrap .info-wrap {
    font-size: 1.1em;
    padding: 2px 0px;
  }

  .lotus-container .bet-wrap .pick-wrap .folder-wrap .odds-wrap .odds button {
    font-size: 1.2em;
  }

  .lotus-container .bet-wrap .bet-info .btn-box {
    margin: 5px 0px;
    padding: 2px 0px;
  }

  .lotus-container .bet-wrap .bet-info .btn-cash-wrap {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .lotus-container .bet-wrap .bet-info .btn-box .btn-cash {
    width: 89%;
    font-size: 14px;
    padding: 15px 0px;
    margin: 3px;
  }

  .lotus-container .bet-wrap .bet-info .bet-box .bet-moneny {
    height: 50px;
  }

  .lotus-container .bet-wrap .bet-info .bet-box {
    display: block;
  }

  .lotus-container .bet-wrap .pick-wrap .folder-wrap .odds-wrap .odds {
    margin: 2px;
  }

  .lotus-container .bet-wrap .multi-pick-wrap {
    display: grid;
  }

  .lotus-container .bet-wrap .multi-pick-wrap .folder-type25, .lotus-container .bet-wrap .multi-pick-wrap .folder-type33, .lotus-container .bet-wrap .multi-pick-wrap .folder-type50 {
    width: 100%;
  }

  #btn_top {
    bottom: 145px;
    right: 15px;
  }
}


@media screen and (max-width: 720px) {
  .btn_plus_wrapper {
    grid-template-columns: auto auto auto;
  }

  .btn_plus_wrapper>.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_reset {
    grid-column-start: 2;
  }

  .slot_list>ul {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }

  #miniList .mini-game-wrap .mini-type li span {
    font-size: 14px;
  }

  #app .list-wrap ul.imgList {
    grid-template-columns: 1fr;
  }

  .sports-betting-wrap .sports-container>.left {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 425px) {
  .game_list_wrap>ul>li {
    flex: 50%;
    max-width: 50%;
  }

  .btn_plus_wrapper {
    grid-template-columns: auto auto;
  }

  .btn_plus_wrapper>.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_plus+.btn_reset {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .slot_list>ul {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .main_con1_wrap .main_con1 {
    width: inherit;
    padding: 0.5em 1em;
  }

  #slot .tab-container>.tab-body .menu {
    flex-flow: column;
    align-items: flex-start;
    height: 5em;
    line-height: 5em;
    margin-bottom: 5em;
  }

  #slot .tab-container>.tab-body .menu .list .item {
    font-size: 1.1em;
    padding: 0 1em;
  }

  #slot .tab-container>.tab-body .menu .search-box {
    position: relative;
    right: 10px;
    width: 100%;
    font-size: .9em;
    height: 2em;
    margin-top: 1em;
  }

  #slot .tab-container>.tab-body .menu .search-box input {
    width: 100%;
    height: 3em;
    line-height: 3em;
  }

  .clearable input+button {
    margin-top: .5em;
  }
}

@media screen and (max-width: 320px) {
  .game_list_wrap>ul>li {
    flex: 50%;
    max-width: 50%;
  }

  .btn_plus_wrapper {
    grid-template-columns: auto;
  }

  .popup_wrapper .title1-search span {
    display: none;
  }

  .popup_wrapper .title1-search .clearable {
    width: 100%;
  }

  .slot_list>ul {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}