@charset "UTF-8";

@-webkit-keyframes shineArrow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes shineArrow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes shineArrow01 {
  0% {
    background-color: var(--bgColor017);
    border: 1px solid var(--bdColor018);
  }

  50% {
    background-color: var(--bgColor068);
    border: 1px solid var(--bdColor037);
  }

  to {
    background-color: var(--bgColor017);
    border: 1px solid var(--bdColor018);
  }
}

@keyframes shineArrow01 {
  0% {
    background-color: var(--bgColor017);
    border: 1px solid var(--bdColor018);
  }

  50% {
    background-color: var(--bgColor068);
    border: 1px solid var(--bdColor037);
  }

  to {
    background-color: var(--bgColor017);
    border: 1px solid var(--bdColor018);
  }
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(2, 2);
    transform: scale(2);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(6, 6);
    transform: scale(6);
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(2, 2);
    transform: scale(2);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(6, 6);
    transform: scale(6);
    opacity: 0;
  }
}

/* national-flag-icons */
.flag-icon {
  width: 28px;
  transform: translate(0, 10%);
}

#app .container {
  width: 100%;
}

.sports-logo {
  height: 13px;
  aspect-ratio: 2/1;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.sports-logo img {
  max-width: 25px;
}

[data-sport]::before {
  content: "";
}

.icon-iconARupA:before {
  content: "";
  display: block;
  background: url("../images/sports/arrow.svg") no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  /* filter: brightness(1.5); */
  /* filter: hue-rotate(45deg); */
}

.sports-betting-wrap .sports-container .nation_left_menu {
  padding-left: 20px;
}

.sports-betting-wrap .sports-container>.left {
  height: calc(100vh - 86px - 30px);
  /* border: 1px solid var(--border-darker); */
  font-weight: 400;
  overflow-y: scroll;
  overscroll-behavior: contain;
  overflow-x: hidden;
  color: var(--font);
  font-size: 13px;
  background-color: #fff;
  border: none;
  border-radius: 7px;

  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.13);
}

.sports-betting-wrap .sports-container>.left>.result {
  height: 40px;
  line-height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 4px 10px;
  cursor: pointer;
  position: relative;
  color: white;
}

.sports-betting-wrap .sports-container>.left>.result:hover .right {
  -webkit-transform: rotate(90deg) translateY(-5px);
  transform: rotate(90deg) translateY(-5px);
}

.sports-betting-wrap .sports-container>.left>.result .right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.sports-betting-wrap .sports-container>.left>.list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"] {
  /* color: var(--font); */
  color: #203449;
  display: -webkit-flex;
  display: flex;
  padding: 4px 8px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 46px;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"].accordion-opened, 
.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"]:hover {
  /* background-color: #9a9a9a; */
  background-color: #fff;
  font-weight: bold;
  /* color: white; */
  color: #565A5F;
  position: relative;
}
.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"].accordion-opened::before, 
.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"]:hover::before {
  content: '';
  width: 5px;
  height: 46px;
  background-color: #E59900;
  position: absolute;
  left: 0;
  top: 0;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"] .left,
.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"] .right {
  display: -webkit-flex;
  display: flex;
  gap: 16px;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"] .number {
  transition: 0.2s all;
  color: #E59900;
  font-weight: bold;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"] i {
  transition: 0.2s all;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"]:hover .number {
  opacity: 0;
  visibility: hidden;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switcher"]:hover i {
  opacity: 1;
  visibility: visible;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"]>[data-role="accordion:switchee"]::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  /* background-color: var(--border-darker);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  background-color: #D2D2E2;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague::before {
  content: "주요경기";
  white-space: pre;
  width: 100%;
  height: 40px;
  /* color: #ffe821; */
  color: #3A4B5D;
  font-size: 13px;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 16px;
  /* background: linear-gradient(181deg, #4a4b58 0%, #545664 100%); */
  background: #fff;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] {
  /* border-bottom: 1px solid var(--border-darker); */
  border-top: 1px solid #F3F4F7;
  position: relative;
  background-position: 16px center;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  /* background: var(--bg-darker); */
  background: #fff;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon.active,
.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon:hover {
  /* background: var(--primary-light); */
  background: #fff;
  color: white;
  position: relative;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon.active::before,
.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon:hover::before {
  content: '';
  width: 5px;
  height: 40px;
  background-color: #E59900;
  position: absolute;
  left: 0;
  top: 0;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon .family-count {
  right: 10px;
  position: absolute;
  color: #E59900;
  font-weight: bold;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon .info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  gap: 8px;
  padding-left: 13px;
  color: #203449;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon .info img {
  max-height: 24px;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="0"].topleague [data-level="1"] .sport-icon .info .family-logo {
  height: 20px;
  aspect-ratio: 2/1;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.left>.list .sports-category {
  position: relative;
}

.sports-betting-wrap .sports-container>.left>.list .sports-category .sports-time {
  position: absolute;
  top: 11px;
  right: 10px;
}
.sports-betting-wrap .sports-container>.left>.list .sports-category .sports-time span {
  color: #8F949A;
}

.sports-betting-wrap .sports-container>.left>.list .sports-category::before {
  content: "오늘의 경기";
  white-space: pre;
  width: 100%;
  height: 40px;
  /* color: #ffe821; */
  color: #3A4B5D;
  font-size: 13px;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 16px;
  /* background: linear-gradient(181deg, #4a4b58 0%, #545664 100%); */
  background: #fff;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"] {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 5px 12px;
  transition: 0.2s all;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"] {
  background-color: #FBFBFD;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"].accordion-opened, 
.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"]:hover {
  background-color: #EDEDF5;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"] .left .name {
  color: #A4AAB3;
}
.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"].accordion-opened .left .name,
.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"]:hover .left .name {
  color: #565A5F;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"] .left,
.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switcher"] .right {
  display: -webkit-flex;
  display: flex;
  gap: 10px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switchee"] {
  color: var(--font-ligher);
}

.sports-betting-wrap .sports-container>.left>.list [data-level="1"]>[data-role="accordion:switchee"]::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  /* background-color: var(--border-darker);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
  background-color: #D2D2E2;
}

.sports-betting-wrap .sports-container>.left>.list [data-level="2"] {
  padding: 8px 8px 8px 50px;
  transition: 0.2s all;
  /* border-top: solid 1px var(--border-darker); */
}

.sports-betting-wrap .sports-container>.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-weight: 400;
  color: var(--fg-primary);
}

#sports_abroad .sports-container>.main .split {
  display: grid;
  grid-template-columns: 933fr 526fr;
  height: 100%;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

#sports_live .sports-container>.main .split {
  display: grid;
  grid-template-columns: 933fr 526fr;
  height: 100%;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

#sports_domestic .sports-container>.main .split {
  display: grid;
  grid-template-columns: 933fr;
  height: 100%;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.sports-betting-wrap .sports-container>.main .split #main-selector {
  /* border: 1px solid var(--border-darker); */
  min-width: 815px;
  border-bottom: 0;
  /* margin-bottom: 6px; */
  margin-bottom: 0;
  background-color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.13);
}

.sports-betting-wrap .sports-container>.main .split #market-list {
  grid-row: span 2;
box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.13);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap {
  grid-row: 2;
}

.sports-betting-wrap .sports-container>.main .split .sports-notice {
  width: 100%;
  overflow-x: auto;
  height: 39px;
  overflow-y: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: var(--fg-primary);
  font-size: 1em;
  overscroll-behavior: contain;
  /* color: #43ef43fc; */
  color: #633DEA;
  /* background-color: black; */
  background-color: #EDEDF5;
  font-weight: bold;
  margin-top: 7px;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row {
  font-size: 12px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px;
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr;
  text-align: center;
  word-break: keep-all;
  line-height: 2ex;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap {
  font-size: 12px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px;
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  word-break: keep-all;
  line-height: 2ex;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet {
  width: 100%;
  height: 32px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 1.5%;
  border: 1px solid var(--border-darker);
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff4a;
  background-color: var(--primary-more-light);
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:has(.icon-iconLock) {
  background-color: var(--bg-dark);
  color: var(--font);
  pointer-events: none;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:has(.icon-iconLock) .team-logo {
  opacity: 0.4;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet :is(.left, .right) {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet :is(.left, .right) .team-logo {
  height: 19px;
  aspect-ratio: 1/1;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  display: none;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet :is(.left, .right) .name {
  text-align: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  overflow-wrap: anywhere;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet .right .name {
  text-align: right;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:nth-child(2):hover {
  background-color: var(--primary);
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet.pick {
  background-color: var(--primary) !important;
  color: white !important;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:hover {
  background-color: var(--primary);
  color: white;
}

.sports-betting-wrap .sports-container>.main .split .bonus-folder-wrap .folders .folder>.row .bet-wrap .bonus-bet:nth-child(3) .odds-wrap {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sports-betting-wrap .sports-container>.main .split .selector {
  width: 100%;
  overflow-x: auto;
  height: 47px;
  overflow-y: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: var(--fg-primary);
  font-size: 12px;
  overscroll-behavior: contain;
}

.sports-betting-wrap .sports-container>.main .split .selector .item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  -webkit-justify-content: center;
  justify-content: center;
  /* border-right: 1px solid var(--border-darker); */
  cursor: pointer;
  padding: 0 10px;
  white-space: nowrap;
  margin-right: 5px;
  /* border: 1px solid var(--color-primary); */
  border: 1px solid #A2A2AD;
  /* border-radius: 9px; */
  border-radius: 5px;
}

.sports-betting-wrap .sports-container>.main .split .selector .item .number {
  margin-left: 40px;
}

.sports-betting-wrap .sports-container>.main .split .selector .item::before {
  content: "";
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* .sports-betting-wrap .sports-container > .main .split .selector .item:first-child::before {
	content: "";
	background-image: url("../images/sports/type_star.png");
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
}
.sports-betting-wrap .sports-container > .main .split .selector .item:nth-child(2)::before {
	content: "";
	background-image: url("../images/sports/type_all.png");
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
} */
.sports-title {
  margin-right: 22px;
  margin-left: 10px;
}

.sports-title span {
  font-size: 1.8em;
  /* color: #ffe821; */
  color: #3A4B5D;
}

.sports-betting-wrap .sports-container>.main .split .selector .item:nth-child(2)::before {
  content: "";
  background-image: url("../images/sports/type_all.png");
  background-size: 100% 100%;
  width: 28px;
  height: 28px;
}

.sports-betting-wrap .sports-container>.main .split .selector .item:hover,
.sports-betting-wrap .sports-container>.main .split .selector .item.active {
  /* background-color: var(--primary-light); */
  background-color: #EFEFF2;
  border-color: #A2A2AD;
  color: white;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  height: calc(100vh - 176px - 70px - 44px);
  /* border: 1px solid var(--border-darker); */
  background-color: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.13);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder {
  width: 100%;
  height: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overscroll-behavior: contain;
  /* box-shadow: 1px -3px 19px black; */
}
#sports_live .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders:nth-of-type(2),
#sports_live .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders:nth-of-type(3) {
  padding-bottom: 100px;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] {
  height: 40px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 21px 0 12px;
  /* background-color: #00000061; */
  background-color: #EDEDF5;
  /* border-top: 1px solid var(--border-darker);
  border-bottom: 1px solid var(--border-darker);
  box-shadow: 1px 3px 19px #636363; */
  /* color: var(--color-title); */
  color: #565A5F;
}
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"].accordion-opened {
  color: #633DEA;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"]:hover {
  /* background-color: black; */
  background-color: #E2E2F0;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"]:not([hidden]) {
  display: -webkit-flex;
  display: flex;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] .left {
  gap: 5px;
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] .left .location {
  white-space: nowrap;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] .right {
  display: -webkit-flex;
  display: flex;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switcher"] .right .time {
  margin-right: 10px;
  font-size: 11px;
  text-align: center;
  align-self: center;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"]:not([hidden]) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 5px 0;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row {
  font-size: 12px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px;
  display: grid;
  gap: 2px;
  grid-template-columns: 10ch 10ch 1fr 7ch;
  text-align: center;
  word-break: keep-all;
  line-height: 2ex;
}
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .time,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .option {
  color: #3A4B5D;
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .single-pick-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .single-pick-wrap .single-pick {
  flex: 30%;
  justify-content: space-between !important;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet {
  width: 44.5%;
  height: 32px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 1.5%;
  /* border: 1px solid var(--font-ligher); */
  border: 1px solid #B9BFC6;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: var(--primary-more-light); */
  background-color: #FBFBFD;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap.handi-wrap .bet {
  background-color: #f0f0f0;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap.under-over-wrap .bet {
  background-color: #dedede;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap.wdl-wrap .bet {
  background-color: var(--wdl-background);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap.odd-even-wrap .bet {
  background-color: var(--odd-even-background);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap.yes-no-wrap .bet {
  background-color: var(--yes-no-background);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:has(.icon-iconLock) {
  /* background-color: var(--bg-disabled); */
  background-color: #EFEFF5;
  border: 1px solid #B9BFC6;
  /* color: var(--font); */
  color: #3A4B5D;
  font-weight: bold;
  pointer-events: none;
  opacity: 0.5;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:has(.icon-iconLock) .team-logo {
  opacity: 0.4;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
  color: #3A4B5D;
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) .team-logo {
  aspect-ratio: 1/1;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.sports-betting-wrap .team-logo img{
  width: 20px;
}
.sports-betting-wrap .team-logo img[src=""]{
  display:none;
}
.sports-betting-wrap .team-logo img[src="default"]{
  content:url(../images/sports/default_1.svg)
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) .name {
  text-align: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  overflow-wrap: anywhere;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right .name {
  text-align: right;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(2) {
  opacity: 1;
  width: 10%;
  -webkit-justify-content: center;
  justify-content: center;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(2):hover {
  /* background-color: var(--primary); */
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick {
  /* background-color: var(--primary) !important;
  color: white !important; */
  background-color: rgba(229, 153, 0, 0.43);
  border: 1px solid #E59900;
  color: #000;
  font-weight: bold;
}
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .bet-pick .odds {
  color: #3A4B5D;
  font-weight: 500;
}
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick .left .name,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick .left .odds,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick .right .odds,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick .right .name,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick .odds {
  color: #000;
  font-weight: bold;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover {
  /* background-color: var(--primary); */
  background-color: rgba(229, 153, 0, 0.43);
  border: 1px solid #E59900;
  color: white;
}
/* .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover .left .team-logo img[src="default"],
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover .right .team-logo img[src="default"],
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick :is(.left, .right) .team-logo img[src="default"] {
  content: url('../images/sports/default_1_h.svg');
} */
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet.pick {}
/* .sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover .left .name,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:active .left .name,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:focus .left .name,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:hover .right .odds,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:active .right .odds,
.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:focus .right .odds {
  color: #000;
  font-weight: bold;
} */

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(3) .odds-wrap {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .left-handi-mark {
  color: #23cc23d4;
  font-weight: 500;
  margin-left: auto;
  left: -12px;
  position: relative;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right-handi-mark {
  color: #23cc23d4;
  font-weight: 500;
  margin-right: auto;
  right: -12px;
  position: relative;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .left-under-mark {
  margin-left: auto;
  left: -17px;
  position: relative;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .left-under-mark img {
  width: 9px;
  height: 10px;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right-under-mark {
  margin-right: auto;
  right: -17px;
  position: relative;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .bet .right-under-mark img {
  width: 9px;
  height: 10px;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .empty-bet {
  width: 44.5%;
  height: 32px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 1.5%;
  /* border: 1px solid var(--font-ligher); */
  border: 1px solid #B9BFC6;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: var(--primary-more-light); */
  background-color: #FBFBFD;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .bet-wrap .empty-bet:has(.icon-iconLock) {
  background-color: #ddd;
  color: #3A4B5D;
  font-weight: 500;
  pointer-events: none;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .favorite {
  display: grid;
  place-items: center;
  border-radius: 3px;
  height: 100%;
  background-color: var(--bg-darker);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .favorite .star {
  width: 27px;
  height: 25px;
  background: url("../images/sports/_star.png") no-repeat;
  background-size: 100%;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .favorite.active .star {
  background: url("../images/sports/star.png") no-repeat;
  background-size: 100%;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row [data-role=drawer] {
  height: 33px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* background-color: var(--bg-dark); */
  background-color: #EFEFF5;
  border: 1px solid #B9BFC6;
  /* color: #f4e821; */
  color: #E59900;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row [data-role=drawer]:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row [data-role=drawer].active {
  /* background-color: var(--primary); */
  background-color: #E59900;
  color: #E2FF00;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row[hidden] {
  display: none;
}

.sports-betting-wrap .sports-container>.main .split .folder-wrap .folders .folder>[data-role="accordion:switchee"] .row .market-name {
  height: 33px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  background-color: #6666668f;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap {
  height: calc(100vh - 86px - 30px);
  overflow-y: scroll;
  overscroll-behavior: contain;
  position: relative;
  overflow-x: clip;
  /* border: 1px solid var(--border-darker); */
  background-color: #fff;
  border-radius: 7px;
}

.sports-betting-wrap .sports-container>.main .split .market-score {
  width: 100%;
  height: 240px;
}
/* .sports-betting-wrap .sports-container>.main .split .market-score .score-head {
  width: 100%;
  height: 40px;
  background-color: #EDEDF5;
} */
.sports-betting-wrap .sports-container>.main .split .market-score .score-body {
  width: 100%;
  height: 240px;
  position: relative;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .overlay {
  width: 100%;
  height: 200px;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: 0;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-title {
  width: auto;
  color: #fff;
  text-align: center;
  background-color: #E59900;
  padding: 3px 10px 5px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 3px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .team-score {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0 5px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .team-score em {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: calc(50% - 120px);
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .team-score em:first-of-type {
  justify-content: flex-end;
  text-align: right;
  line-height: 1.2;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .team-score strong {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 30px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point {
  width: 100%;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .title-match {
  display: flex;
  align-items: center;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .title-match div {
  height: 20px;
  font-size: 1rem;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .title-match div img.sport-sort {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  margin-top: 2px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .title-match div img.country {
  width: auto;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .title-match div .game-title {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result {
  width: 100%;
  position: relative;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 thead tr th {
  color: #fff;
  text-align: center;
  padding: 4px 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr:first-of-type {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td:first-of-type {
  width: auto;
  text-align: left;
  border-left: 0;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td {
  color: #fff;
  padding: 4px 0;
  width: 36px;
  text-align: center;
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 3px;
  font-size: 0.8rem;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td .team-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td .team-info .team-logo {
  width: 25px;
  height: 25px;
}
.sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td .team-info .team-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] {
  width: 100%;
  height: 32px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 7px 0 7px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* background-color: var(--bg-dark); */
  background-color: #EDEDF5;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .left {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  font-size: 13px;
  /* color: var(--fg-primary); */
  color: #565A5F;
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .left .title .team-name {
  display: inline-block;
  padding: 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.84rem;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .left .sport-icon {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .left .title {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .left .title .vs {
  /* color: var(--gold); */
  color: #CD7800;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .right {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switcher"] .right .icon-icon-icconGROUND01 {
  font-size: 32px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switchee"] .tracker {
  width: 100%;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap>[data-role="accordion:switchee"] .no-tracker {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px 0;
  gap: 8px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .seperator {
  width: 100%;
  position: relative;
  margin-top: 18px;
  text-align: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .seperator .round {
  z-index: 1;
  position: relative;
  font-size: 18px;
  padding: 0 32px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .seperator::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #d5e0f7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .type-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 42px;
  /* border: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .type-wrap .type {
  cursor: pointer;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 15px;
  /* border-right: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
  color: #8F949A;
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .type-wrap .type:last-child {
  border-right: 0;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .type-wrap .type .star {
  display: grid;
  place-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .type-wrap .type[selected] {
  /* color: var(--primary);
  border-bottom: 2px solid var(--primary); */
  color: #E59900;
  border-bottom: 2px solid #E59900;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  /* background-color: var(--bg-dark); */
  background-color: #EDEDF5;
  /* border-bottom: 1px solid var(--fg-primary); */
  border-bottom: 1px solid #D2D2E2;
  /* color: var(--color-title); */
  color: #633DEA;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .left {
  gap: 5px;
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .left .sport-icon {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .right {
  display: -webkit-flex;
  display: flex;
  gap: 9px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .right .favorite {
  display: grid;
  place-content: center;
  width: 27px;
  height: 25px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .right .favorite .star {
  width: 27px;
  height: 25px;
  background: url("../images/sports/_star.png") no-repeat;
  background-size: 100%;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switcher"] .right .favorite.active .star {
  background: url("../images/sports/star.png") no-repeat;
  background-size: 100%;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 5px;
  gap: 5px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option {
  height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  /* background-color: var(--bg-darker); */
  background-color: #FBFBFD;
  border-radius: 5px;
  color: var(--font);
  font-size: 12px;
  cursor: pointer;
  padding: 16px;
  -webkit-flex: 26%;
  flex: 26%;
  line-height: 0.99;
  /* border: 1px solid var(--bg-dark); */
  border: 1px solid #B9BFC6;
}
.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option :is(.left, .right) {
  color: #3A4B5D;
  font-weight: 500;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option:has(.icon-iconLock) {
  /* background-color: var(--bg-dark); */
  background-color: #ddd;
  color: var(--font);
  pointer-events: none;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option:has(.icon-iconLock) .team-logo {
  opacity: 0.4;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option:hover {
  /* background-color: var(--primary); */
  background-color: rgba(255, 153, 0, 0.49);
  border: 1px solid #E59900;
  color: #fff;
}
.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option:hover :is(.left, .right),
.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option.pick :is(.left, .right) {
  color: #000;
  font-weight: bold;
}

.sports-betting-wrap .sports-container>.main .split .detail-wrap .reverse .option-group-wrap [data-role="accordion:switchee"] .option-bunch .option-wrap .option.pick {
  /* background-color: var(--primary) !important;
  color: #fff !important; */
  background-color: rgba(255, 153, 0, 0.49);
  border: 1px solid #E59900;
}

.sports-betting-wrap .sports-container>.main .split .odds-wrap.odds-up::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/sports/triangle_up.png");
  background-size: 100% 100%;
}

.sports-betting-wrap .sports-container>.main .split .odds-wrap.odds-down::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/sports/triangle_down.png");
  background-size: 100% 100%;
}

.sports-betting-wrap .sports-container>.right {
  position: fixed; /* relative */
  bottom: 200px; /* 0 */ 
  left: 30px; /* 0 */
  z-index: 9999;
  display: -webkit-flex;
  display: flex;
  gap: 30px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 0;
}

.sports-betting-wrap .sports-container>.right #betting_cart {
  width: 367px; /* 557px */
  height: 650px; /* 856px, 833px */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  /* background-color: var(--bg-darker); */
  background-color: #FFFFFF;
  border-radius: 7px;
  /* -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.25)); */
  padding: 20px 20px 30px 20px;
  position: absolute;
  bottom: 134px; /* 110px */
  left: 80px;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.13);
}

.sports-betting-wrap .sports-container>.right #betting_cart.hidden {
  display: none;
}

.sports-betting-wrap .sports-container>.right #betting_cart.hidden+#betting_cart_opener {
  background-image: url("/win/images/sports/betting_cart_opener.svg");
  background-size: 35.67px 31.44px;
  background-position: center;
  /* display: none; */
}

.sports-betting-wrap .sports-container>.right #betting_cart.hidden+#betting_cart_opener::after {
  color: #fff;
  white-space: pre;
  font-size: 14px;
  font-weight: 700;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.sports-betting-wrap .sports-container>.right #betting_cart_opener {
  border-radius: 50%;
  /* background-color: var(--primary); */
  background-color: #E59900;
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
  color: var(--bg);
  background-image: url("/win/images/sports/betting_cart_closer.svg");
  background-size: 35.67px 31.44px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 0.1rem;
  bottom: 11vh; /* 1.07rem */
  -webkit-transform: translate3d(0, 0, 0);
}

.sports-betting-wrap .sports-container>.right #betting_cart_opener::after {
  color: #fff;
  white-space: pre;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.sports-betting-wrap .sports-container>.right #betting_cart_opener b {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  right: 0;
  /* background-color: var(--blue-05); */
  background-color: #e20000;
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.sports-betting-wrap .sports-container>.right .options {
  height: calc(100% - 104px);
}

.sports-betting-wrap .sports-container>.right .options .option {
  height: 100%;
}

.sports-betting-wrap .sports-container>.right .options .option .cart {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.sports-betting-wrap .sports-container>.right .options .option .history {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.sports-betting-wrap .sports-container>.right .options .option .history .scroll {
  padding: 10px 0;
}

.sports-betting-wrap .sports-container>.right .options .option .history .content-wrap {
  /* display: grid;
  grid-template-columns: 44px 1fr; */
  gap: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #E7E9EF;
  border-right: 1px solid #E7E9EF;
  border-bottom: 1px solid #E7E9EF;

  width: 95%;
  margin: 0 auto;
}

.sports-betting-wrap .sports-container>.right .options .option .history .content-wrap .status {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2px 5px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  height: 22px;
  font-size: 12px;
  font-weight: 400;
width: 44px;
}

.sports-betting-wrap .sports-container>.right .options .option .history .content-wrap .content {
  width: 100% !important;
  padding: 0;
  border: 0;
}

.sports-betting-wrap .sports-container>.right .options .option .history .content-wrap .content .name-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .sports-container>.right .options .option .history .content-wrap .content .name-wrap .cancel-btn {
  padding: 0;
  font-size: 12px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.quickbetting {
  position: relative;
}

.quickbetting>.top {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: var(--bgColor_070);
  padding: 10px;
  padding-left: 60px;
  color: var(--txtColor_03);
  white-space: nowrap;
  font-size: 14px;
  color: #565A5F;
}

.quickbetting>.top .money {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.quickbetting>.top .money.show {
  visibility: unset;
  height: unset;
  overflow: unset;
  color: black;
}

.quickbetting>.top .money input {
  border: 1px solid var(--border-darker);
  margin-left: 4px;
  padding-left: 5px;
  padding-right: 50px;
  line-height: 36px;
  height: 36px;
  width: 100%;
  background-color: #fff;
}

.quickbetting>.top .money button {
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 6px;
  border-radius: 5px;
  color: var(--txtColor_05);
  box-sizing: border-box;
  border: 1px solid var(--btnColor_001);
  background-color: var(--btnColor041);
}

.quickbetting>.top .money button:hover {
  color: var(--primary);
  border: 1px solid var(--btnColor_001);
  background-color: var(--btnColor_001);
}

.quickbetting>.top .setIcon {
  height: 36px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 10px;
}

.quickbetting>.top .setIcon span {
  color: var(--txtColor_038);
  font-size: 23px;
}

.quickbetting>.top .info {
  position: relative;
  margin-left: 3px;
  color: var(--txtColor_038);
  font-size: 18px;
}

.quickbetting>.top .info::after {
  content: "퀵 베팅은 한종류의 베팅을 더 쉽고 빠르게 베팅할 수 있는 기능입니다. 베팅 금액을 설정한 후 선택한 베팅 옵션을 클릭하여 바로 베팅이 가능합니다.(단폴더만 베팅가능)";
  /* background-color: var(--bg-dark); */
  background-color: #fff;
  border: 1px solid #E59900;
  position: absolute;
  display: none;
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  z-index: 1;
  padding: 8px;
  border-radius: 3px;
  color: var(--txtColor_03);
  line-height: 1.6;
  font-size: 11px;
  text-align: justify;
  width: 250px;
  white-space: pre-wrap;
  word-break: keep-all;
}

.quickbetting>.top .info:hover::after {
  display: revert;
}

.quickbetting>.bottom .accordion-opened .switch {
  background-color: var(--primary);
}

.quickbetting>.bottom .accordion-opened .switch::before {
  left: 71%;
}

.quickbetting>.bottom .switch {
  transition: all 0.2s;
  position: absolute;
  top: 15px;
  left: 10px;
  width: 45px;
  height: 26px;
  background-color: #D8D8D8;
  border-radius: 20px;
  cursor: pointer;
}

.quickbetting>.bottom .switch:before {
  transition: all 0.2s;
  content: "";
  width: 19px;
  height: 19px;
  background-color: var(--bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 31%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quickbetting>.bottom .icon-icconWARNING {
  font-size: 12px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10px 10px;
}

.quickbetting>.bottom .icon-icconWARNING::before {
  font-size: 19px;
  margin-right: 5px;
}

.quickbetting>.bottom .setting {
  width: 23px;
  height: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.quickbetting>.bottom>[data-role="accordion:switchee"] .title {
  height: 40px;
  width: 100%;
  background-color: var(--bgColor_08);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  color: var(--primary);
  padding: 0 14px;
}

.quickbetting>.bottom>[data-role="accordion:switchee"] .prop-wrap {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  gap: 10px;
  font-size: 12px;
}

.quickbetting>.bottom>[data-role="accordion:switchee"] .prop-wrap .prop label {
  cursor: pointer;
}

.quickbetting>.bottom>[data-role="accordion:switchee"] .prop-wrap .prop label::before {
  content: "";
  background: #ffffff;
  border-radius: 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.sports-betting-wrap .sports-container>.right .selector {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  /* border: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
}

.sports-betting-wrap .sports-container>.right .selector .item {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 48px;
  /* font-size: 14px; */
  font-size: 16px;
  cursor: pointer;
  position: relative;
  /* color: var(--txtColor_05); */
  color: #8F949A;
  font-weight: 500;
  /* border-right: 1px solid var(--border-darker); */
  border-right: 1px solid #E7E9EF;
}

.sports-betting-wrap .sports-container>.right .selector .item:last-child {
  border: 0;
}

.sports-betting-wrap .sports-container>.right .selector .item:hover, .sports-betting-wrap .sports-container>.right .selector .item.selected {
  /* color: var(--primary);
  border-bottom: 2px solid var(--primary); */
  color: #E59900;
  border-bottom: 2px solid #E59900;
}

.sports-betting-wrap .sports-container>.right .selector .item:hover .number, .sports-betting-wrap .sports-container>.right .selector .item.selected .number {
  margin-left: 3px;
}

.sports-betting-wrap .sports-container>.right .selector[selected]~.options .option:nth-child(2) {
  display: none;
}

.sports-betting-wrap .sports-container>.right .selector:not([selected])~.options .option:nth-child(1) {
  display: none;
}

.sports-betting-wrap .cart .delete-all {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 14px;
  /* color: var(--font); */
  color: #565A5F;
}

.sports-betting-wrap .cart .delete-all .icon-iconCross {
  margin-left: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.sports-betting-wrap .scroll {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  gap: 18px;
  border-radius: 5px;
}

.sports-betting-wrap .scroll .folder-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  gap: 12px;
  border-radius: 5px;
}

.sports-betting-wrap .scroll .folder-wrap .folder {
  position: relative;
  border-radius: 5px;
  /* border: 1px solid var(--border-darker); */
  /* padding-bottom: 170px; */
}
.sports-betting-wrap .scroll .folder-wrap .folder.many {
  padding-bottom: 170px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .icon-iconLock {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  place-items: center;
  top: 0;
  border-radius: 5px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .icon-iconLock:not([hidden]) {
  display: grid;
}

.sports-betting-wrap .scroll .folder-wrap .folder .icon-iconLock::before {
  content: "\e904";
}

.sports-betting-wrap .scroll .folder-wrap .folder .title {
  /* background-color: var(--bg-dark); */
  background-color: #EDEDF5;
  /* width: 100%; */
  width: 95%;
  margin: 10px auto 0 auto;
  height: 36px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #a1a1a1;
}
.sports-betting-wrap .scroll .folder-wrap .folder .title:nth-of-type(1) {
  margin-top: 0;
}

.sports-betting-wrap .scroll .folder-wrap .folder .title.bonus {
  background-color: var(--orange-darker);
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .datetime {
  font-weight: bold;
  font-size: 12px;
  /* color: var(--font-primary); */
  color: #565A5F;
  font-weight: 500;
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .money {
  font-weight: bold;
  font-size: 14px;
  color: var(--primary);
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .left {
  display: -webkit-flex;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-bottom: 2px;
  color: #565A5F;
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .right {
  z-index: 10;
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .right .delete {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}

.sports-betting-wrap .scroll .folder-wrap .folder .title .right .delete span {
  font-size: 12px;
  font-weight: 700;
  -webkit-transform: scale(0.68);
  transform: scale(0.68);
  color: #565A5F;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content {
  position: relative;
  width: 100%;
  padding: 10px;
  border-left: 1px solid #E7E9EF;
  border-right: 1px solid #E7E9EF;
  border-bottom: 1px solid #E7E9EF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 95%;
  margin: 0 auto;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .row {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 13px;
  color: #3A4B5D;
  font-weight: 500;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .row .option {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content:has(.new-odds:not(:empty)) .odds {
  color: var(--red);
  text-decoration: line-through;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  color: #3A4B5D;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .datetime {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  font-size: 12px;
  /* color: var(--stroke-third); */
  color: #3A4B5D;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 9px;
  padding-bottom: 11px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .datetime::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../images/sports/calendar.png") no-repeat;
  background-size: 100% 100%;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .bet {
  display: -webkit-flex;
  display: flex;
  gap: 20px;
  font-size: 12px;
  /* color: var(--font-primary); */
  color: #3A4B5D;
  line-height: 1.8;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px 16px;
  /* background-color: var(--bg-darker); */
  background-color: #FFFFFF;
  /* border-radius: 5px solid var(--font-primary); */
  border-radius: 5px;
  /* border: 1px solid var(--font-primary); */
  border: 1px solid #E7E9EF;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .bet .market {
  line-height: 1.8;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .bet .odds {
  margin-left: auto;
  /* color: var(--font-primary); */
  color: #3A4B5D;
  font-weight: 700;
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .status {
  font-size: 14px;
  font-weight: bold;
  color: var(--txtColor_09);
}

.sports-betting-wrap .scroll .folder-wrap .folder .content .button-wrap button {
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 12px;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--bdColor_001);
  border: 1px solid var(--bdColor_001);
}

.sports-betting-wrap .scroll .folder-wrap .folder .result {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  border-left: 1px solid #E7E9EF;
  border-right: 1px solid #E7E9EF;
  width: 95%;
  margin: 0 auto;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result span {
  /* color: var(--txtColor_09); */
  color: #3A4B5D;
  font-size: 12px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result .sp-number {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
}

.sports-betting-wrap .scroll .folder-wrap .folder .result .button-wrap button {
  border-radius: 5px;
  padding: 0 20px;
  font-size: 12px;
  cursor: pointer;
  /* color: var(--primary); */
  color: #633DEA;
  background-color: var(--bdColor_001);
  border: 1px solid var(--bdColor_001);
  text-decoration: underline;
}

/* .sports-betting-wrap .scroll .folder-wrap .folder .result::before {
  content: "";
  background-color: var(--border-dark);
  height: 1px;
  width: calc(100% - 20px);
  position: absolute;
  top: 0;
} */

.sports-betting-wrap .scroll .folder-wrap .folder .result2 {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  border-left: 1px solid #E7E9EF;
  border-right: 1px solid #E7E9EF;
  border-bottom: 1px solid #E7E9EF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 95%;
  margin: 0 auto;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result2 span {
  /* color: var(--txtColor_09); */
  color: #3A4B5D;
  font-size: 12px;
font-weight: 500;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result2 span > div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result2 .sp-number {
  font-size: 18px;
  font-weight: 700;
  /* color: var(--primary); */
  color: #E59900;
}

.sports-betting-wrap .scroll .folder-wrap .folder .result2 .status {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  height: 22px;
  font-size: 12px;
  font-weight: 400;
  width: 70px;

  margin-top: 6px;
}

.sports-betting-wrap .scroll .more {
  align-self: center;
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

.sports-betting-wrap .scroll .more.disabled {
  opacity: 0.3;
}

.bet-status-wait {
  background-color: #5C35FB !important;
}

.bet-status-lose {
  background-color: #bf38cb !important;
}

.bet-status-win {
  background-color: #e6b31e !important;
}

.bet-status-off {
  background-color: #35a3fb !important;
}

.bet-status-cancel {
  background-color: #2dc727c2 !important;
}

.sports-betting-wrap .scroll .monitor {
  /* border: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
  border-radius: 5px;
}

.sports-betting-wrap .scroll .monitor .selected {
  /* color: var(--primary); */
  color: #633DEA;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 9px;
  /* background-color: var(--bg-darker); */
  background-color: #fff;
  border-bottom: 1px solid #e7e9ef;
}

.sports-betting-wrap .scroll .monitor .state-wrap {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  gap: 10px;
  color: #3A4B5D;
  font-weight: 500;
}

.sports-betting-wrap .scroll .monitor .state-wrap .state {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 14px;
  white-space: nowrap;
}

.sports-betting-wrap .scroll .monitor .state-wrap .state .value {
  display: -webkit-flex;
  display: flex;
}

.sports-betting-wrap .scroll .monitor .state-wrap .state input.value {
  width: 60%;
  height: 30px;
  line-height: 30px;
  padding-right: 11px;
  padding-left: 4px;
  background-repeat: no-repeat;
  background-position: 10px;
  box-sizing: border-box;
  /* border-radius: 3px; */
  border-radius: 5px;
  position: relative;
  /* border: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
}

.sports-betting-wrap .scroll .monitor .executer-wrap {
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.sports-betting-wrap .scroll .monitor .executer-wrap.func {
  padding: 0 10px 10px 10px;
}

.sports-betting-wrap .scroll .monitor .executer-wrap .executer {
  width: 48%;
  height: 42px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  /* color: var(--primary); */
  color: #633DEA;
  /* border: 1px solid var(--primary); */
  border: 1px solid #633DEA;
  margin-right: 5px;
  font-weight: 500;
}

/* .sports-betting-wrap .scroll .monitor .executer-wrap .executer:last-child, */
.sports-betting-wrap .scroll .monitor .executer-wrap.func .executer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  /* background-color: var(--primary); */
  background-color: #633DEA;
  width: 100%;
}

.sports-betting-wrap .scroll .monitor .executer-wrap .executer:last-child span {
  margin-right: 7px;
}

.sports-betting-wrap .scroll .restriction-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  padding: 10px;
  /* border: 1px solid var(--border-darker); */
  border: 1px solid #E7E9EF;
  border-radius: 5px;
}

.sports-betting-wrap .scroll .restriction-wrap .restriction {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
color: #3A4B5D;
}

.sports-betting-wrap .scroll .restriction-wrap .restriction .value {
  display: -webkit-flex;
  display: flex;
  font-weight: 500;
}

.sports-betting-wrap .scroll .close-cart {
  display: none;
}

.sports-betting-wrap, .result-pick-wrap {
  --primary: #00a7ed;
  --primary-light: #727272;
  --primary-lighter: #baafff;
  --primary-lighten: #565656;
  --primary-more-light: #51515194;
  --primary-lightest: #25252561;
  --bg: #FFF;
  --bg-dark: #5c5c5c;
  --bg-darker: #222222;
  --bg-darkest: #151515;
  --border: #E5E5E5;
  --border-dark: #D9D9D9;
  --border-darker: #777777;
  --font-ligher: #999999;
  --font-light: #777777;
  --font: #e1e1e1;
  --font-dark: #222222;
  --font-darker: #000000;
  --red: #D60000;
  --gold: #FFCB66;
  --orange: #f16f00;
  --yellow: #f0c840;
  --orange-darker: #b16c05;
  --handi-background: #686651;
  --under-over-background: #8d7d75;
  --wdl-background: #61827e;
  --odd-even-background: #655e7f;
  --yes-no-background: #617282;
  --bg-disabled: #878787;
  --color-title: #00ffb8;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

.sports-betting-wrap {
  min-width: 100%; /* 1600px */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 30px;
}

.sports-betting-wrap i {
  transition: 0.2s all;
}

.sports-betting-wrap [data-role^=bookmark] {
  cursor: pointer;
}

.sports-betting-wrap [data-role="accordion:switcher"] {
  cursor: pointer;
}

.sports-betting-wrap [data-role="accordion:switcher"][hidden]+[data-role="accordion:switchee"] {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.sports-betting-wrap [data-role="accordion:switcher"]:not(.accordion-opened) i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sports-betting-wrap [data-role="accordion:switcher"]:not(.accordion-opened)+[data-role="accordion:switchee"] {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.sports-betting-wrap [data-level] {
  cursor: pointer;
}

.sports-betting-wrap [data-level]:not(:has([data-level])):hover, .sports-betting-wrap [data-level].active {
  /* background-color: #f7f7f761; */
  background-color: #F7F7FC;
  cursor: pointer;
  transition: 0.2s all ease-out;
  /* color: white; */
  color: #707377;
}

.sports-betting-wrap .odds-wrap {
  display: -webkit-flex;
  display: flex;
  gap: 4px;
  -webkit-align-items: center;
  align-items: center;
}

.sports-betting-wrap .odds-wrap.exactly-under-over {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sports-betting-wrap .odds-wrap.short::before {
  display: none !important;
}

.sports-betting-wrap .odds-wrap.short *::before {
  display: none !important;
}

.sports-betting-wrap .odds-wrap .icon-iconLock::before {
  color: black;
  -webkit-animation: shineArrow 0.9s infinite;
  animation: shineArrow 0.9s infinite;
}

.sports-betting-wrap .odds-wrap.icon-iconARup01 {
  color: var(--txtColor_039) !important;
  -webkit-animation: shineArrow 0.9s infinite;
  animation: shineArrow 0.9s infinite;
}

.sports-betting-wrap .odds-wrap.icon-iconARup01+.odds {
  color: var(--txtColor_039) !important;
}

.sports-betting-wrap .odds-wrap.icon-iconARdown01 {
  color: var(--txtColor42) !important;
  -webkit-animation: shineArrow 0.9s infinite;
  animation: shineArrow 0.9s infinite;
}

.sports-betting-wrap .odds-wrap.icon-iconARdown01+.odds {
  color: var(--txtColor_09) !important;
}

.sports-betting-wrap *::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

.sports-betting-wrap *::-webkit-scrollbar-track {
  background-color: var(--txtColor_02);
}

.sports-betting-wrap *::-webkit-scrollbar-thumb {
  background-color: var(--bgColor_066);
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.sports-betting-wrap *::-webkit-scrollbar-thumb:hover {
  background-color: var(--txtColor_038);
}

.sports-betting-wrap .sports-container {
  height: auto;
  overflow: hidden;
  /* background-color: #2c2929; */
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-width: 1400px; /* 1600px */
  max-width: 1960px; /* 1820px, 1750px */
  height: calc(100vh - 86px - 30px);
  overflow: hidden;
  display: grid;
  gap: 20px;
  grid-template-columns: 318fr 1458fr; /* 318fr 938fr 420fr */
  -webkit-justify-content: center;
  justify-content: center;
}

.sports-betting-wrap .shine-number {
  color: rgb(255, 123, 0);
  -webkit-animation: shineArrow 0.9s infinite;
  animation: shineArrow 0.9s infinite;
}

.sports-betting-wrap .sports-container .list .search-box input {
  height: 30px;
  padding-left: 16px;
  color: #B9BFC6;
}
#betLoading {
  position: fixed;
  left: 45%;
  margin-left: -60px;
  top: 40%;
  margin-top: -33px;
  z-index: 999999;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-bottom: 10px;
}

#betLoading img {
  width: 150px;
}

#betLoading .betting-span {
  /* color: var(--color-primary); */
  margin-left: 25px;
  font-weight: bold;
}
#betLoading .betting-span > span {
  padding: 10px 10px;
  color: #fff;
}

/* #sports_live [data-level] [data-role="accordion:switcher"]:hover, #sports_live [data-level]:not(:has([data-level])):hover, #sports_live [data-level].active {
  background-color: var(--bg-darkest);
  cursor: pointer;
  transition: 0.2s all ease-out;
} */

#sports_live .sports-container > .main .split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
#sports_live .sports-container > .main .split #main-selector {
  min-width: 600px;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"]:not([hidden]) {
  /* background-color: var(--bg-darker); */
  background-color: #fff;
  margin: 0 0;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row {
  font-size: 12px;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  padding: 24px 12px 12px 12px;
  margin: 24px 12px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  text-align: center;
  word-break: keep-all;
  line-height: 2ex;
  position: relative;
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  /* background-color: var(--bg-darker); */
  background-color: #fff;
  gap: 24px;
  /* box-shadow: 1px 3px 19px #59595a; */
  box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row.active {
  /* border: 2px solid var(--primary); */
  border: 2px solid #E59900;
  /* box-shadow: 1px 3px 19px var(--primary); */
  box-shadow: 1px 3px 19px #E59900;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row.active .top .left {
  /* border: 2px solid var(--primary); */
  border: 2px solid #E59900;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row.active .top .right {
  /* border: 2px solid var(--primary); */
  border: 2px solid #E59900;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  font-size: 16px;
  top: -14px;
  color: var(--color-primary);
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top .left {
  display: -webkit-flex;
  display: flex;
  /* border: 1px solid var(--primary-light); */
  border: 1px solid #A2A2AD;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #fff;

  color: #3A4B5D;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top .right {
  display: -webkit-flex;
  display: flex;
  border-radius: 5px;
  gap: 16px;
  padding: 0 16px;
  /* color: #fff;
  border: 1px solid var(--primary-light);
  background-color: var(--primary-light); */
  background-color: #EFEFF5;
  border: 1px solid #B9BFC6;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top .right > div {
  color: #E59900;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top .right:hover {
  /* background-color: var(--primary); */
  /* background-color: #E59900 !important;
  border: 2px solid #E59900; */
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .top .right:hover > div {
  -webkit-filter: none;
  filter: none;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle {
  width:100%
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap {
  display: -webkit-flex;
  display: flex;
  gap: 24px;
  font-size: 36px;
  justify-content: space-evenly;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap > div {
  -webkit-align-items: center;
          align-items: center;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap .left {
  display: -webkit-flex;
  display: flex;
  gap: 24px;
  color: #3A4B5D;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap .vs {
  display: -webkit-flex;
  display: flex;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap .right {
  display: -webkit-flex;
  display: flex;
  gap: 24px;
  color: #3A4B5D;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .middle .score-wrap img {
  min-height: 52px;
  height: 52px;
  width: fit-content;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap {
  width: 100%;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet {
  width: 44.5%;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  padding: 5px 1.5%;
  border: 1px solid var(--border-darker);
  border-radius: 5px;
  cursor: pointer;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet.draw-bet {
  width: 15%;
    text-align: center;
    place-content: center;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet :is(.left, .right) {
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  -webkit-align-items: center;
          align-items: center;
  padding: 4px 8px;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet:nth-child(2):hover {
  background-color: rgba(255, 153, 0, 0.49);
  border: 1px solid #E59900;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet.pick, #sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .bet-wrap .bet:hover {
  background-color: rgba(255, 153, 0, 0.49);
  border: 1px solid #E59900;
}


#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .favorite .star {
  width: 21px;
  height: 21px;
  background: url("../images/sports/_star.png") no-repeat;
  background-size: 100%;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row .favorite.active .star {
  background: url("../images/sports/star.png") no-repeat;
  background-size: 100%;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row [data-role=drawer] {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 4px;

  border: 0;
}

#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row.active>.top>.right {
  background-color: #E59900 !important;
}
#sports_live .sports-container > .main .split .folder-wrap .folders .folder > [data-role="accordion:switchee"] .row.active>.top>.right>div {
  color: #fff;
}

.STATSCOREWidgetContainer .STATSCOREWidget--tabs__menu {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-bottom: 2px solid #7B7BDB;
}

.STATSCOREWidgetContainer .STATSCOREWidget--tabs__menu .STATSCOREWidget--tabs__menuItem {
  height: 50px;
}

.STATSCOREWidgetContainer .STATSCOREWidget--livematchProWidget {
  display: flex;
  flex-direction: column;
  font-family: 'Spoqa Han Sans Neo' !important;
}

.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__participantBox .STATSCOREWidget--scoreboard__participantName {
  font-weight: 500;
}

.STATSCOREWidgetContainer .STATSCOREWidget--partialEventStartCountdown--small.STATSCOREWidget--partialEventStartCountdown .STATSCOREWidget--partialEventStartCountdown__countdownTimerTime {
  color: #7044FF;
  position: relative;
  background-image: linear-gradient(0deg, #F5F5F5, #fff);
}

.STATSCOREWidgetContainer .STATSCOREWidget--competitionInfoBar.STATSCOREWidget--competitionInfoBar--xs {
  max-height: unset;
  height: 30px;
  font-size: 12px;
  letter-spacing: -0.025em;
  color: #333333;
  border-bottom: 1px solid #EDEFF2;
}


.STATSCOREWidget--competitionInfoBar,
.STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__countdownContainer,
.STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__countdown {
  background-color: #fff !important;
}

.STATSCOREWidget--63c75725a394ada0e1e36d44 .STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical {
  background-color: #fff;
}

.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard--xs.STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__resultsColumn {
  color: #666;
}

.STATSCOREWidgetContainer .STATSCOREWidget--tabs--scroll {
  margin-top: 4px;
}


/*  플레이 시 전반 | 점수 써있는 형태일 때 */
.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__participantsContainer,
.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__verticalPartialResults,
.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__participantsResultsContainer {
  background-color: #fff;
}

.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard--s.STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__participantsContainer .STATSCOREWidget--scoreboard__timer,
.STATSCOREWidgetContainer .STATSCOREWidget--scoreboard--xs.STATSCOREWidget--scoreboard .STATSCOREWidget--scoreboard__vertical .STATSCOREWidget--scoreboard__participantsContainer .STATSCOREWidget--scoreboard__timer {
  color: var(--font);
}

#game_stat {
  display: none;
}

@media screen and (max-width: 990px) {
  .sports-betting-wrap .sports-container>.main .split .market-score .score-body .score-board .score-point .game-result .table-check-point-1 tbody tr td:first-of-type {
    width: 200px;
  }
}