@charset "UTF-8";
/* 
.header_game {
  position: fixed;
  top: 86px;
  left: 0;
  right: 0;
  min-width: 1200px;
  width: 100%;
  height: auto;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 6px 19px 0 hsla(0, 0%, 40%, 0.27);
  background-color: hsl(0deg 0% 0% / 89%);
  z-index: 90;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  transition: all 0.2s ease-out;
  pointer-events: none;
} */

/* .header_game .showd {
  padding: 0 calc((100vw - 1400px) / 2);
  padding-bottom: 16px;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  box-shadow: inset 0 6px 19px 0 hsla(0, 0%, 40%, 0.27);
  margin-top: -2px;
}

.header_game .warp_nav {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.header_game .games_list {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
}

.header_game .games_list.one {
  grid-template-rows: auto;
}

.header_game .games_list .game_item {
  padding: 35px 16px 0;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}

.profile .header_game .games_list .game_item {
  padding: 4px 16px 0;
}

.header_game .games_list .game_item .top {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 50px;
}

.header_game .games_list .game_item .top .header_smallicon {
  min-width: 45px;
  height: 100%;
  margin-right: 7px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-image: url(../images/common/btn_bg_on.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header_game .games_list .game_item .top .header_smallicon .btn-icon {
  width: 25px;
  height: 22px;
  margin-top: 0;
  margin-bottom: 6px;
}

.header_game .games_list .game_item .top .text {
  line-height: 18px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #6a7391;
}

.header_game .games_list .game_item .top .text .text1 {
  word-break: keep-all;
}

.header_game .games_list .game_item .top .text .text2 {
  color: #959cb2;
  font-size: 12px;
  font-weight: 700;
}

.header_game .games_list .game_item .large {
  width: 137px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.header_game .games_list .game_item .large img {
  transition: all 0.5s;
  max-height: 100%;
  max-width: 100%;
}

.header_game .games_list .game_item:hover {
  background-image: linear-gradient(0deg, #393737 0, #1e1e1f);
}

.header_game.active {
  height: auto;
  visibility: visible;
  overflow-x: auto;
  display: block;
}

.header_game.mini .games_list {
  padding: 20px;
}

.header_game.mini .games_list .game_item {
  padding: 0;
}

.header_game.mini .games_list .game_item .large {
  width: 190px;
}

.header_game.mini .games_list .game_item .large img {
  padding: 0 1.5em;
}

.header_game::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--scroll-fg-secondary);
  border-radius: 10px;
} */

/* .header_game::-webkit-scrollbar-track {
  background: var(--scroll-bg-secondary);
}

.header_game::-webkit-scrollbar {
  width: 5px;
  height: 8px;
} */

/* header {
  min-width: var(--min-width);
  display: -webkit-block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #3c3c3c;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.08);
} */

/* header .container {
  display: grid;
  grid-template-columns: 280px auto 11%;
  -webkit-align-items: center;
  align-items: center;
}

header .left {
  display: flex;
  justify-content: center;
}

header .left .logo {
  height: 48px;
  display: block;
}

header .left .logo>img {
  height: 100%;
}

header .center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

header .center nav {
  display: -webkit-flex;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
}

header .center nav .item {
  height: 85px;
  padding: 0px 15px;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  white-space: nowrap;
}

header .center nav .item::after {
  content: "";
  background-clip: border-box;
  border-radius: 2px;
  background: var(--color-primary);
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 0px;
  left: 50%;
  transition: inherit;
}

header .center nav .item.active, header .center nav .item:hover {
  color: var(--color-primary);
}

header .center nav .item.active::after, header .center nav .item:hover::after {
  left: 0;
  width: 100%;
}

header .center nav .item:hover .header_game {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: initial;
  margin-top: -1px;
}

header .right {
  display: -webkit-flex;
  display: flex;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  min-width: 160px;
}

header .right .account {
  display: -webkit-flex;
  display: flex;
  gap: 16px;
  font-size: 10px;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 51px;
}

header .right .account button {
  width: 24px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

header .right .account i {
  width: 24px;
  height: 24px;
}

header .right .account .bar {
  width: 1px;
  height: 37px;
  background-color: #EEF0F5;
}

header .right .profile {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

header .right .profile .image {
  cursor: pointer;
}

header .right .profile:hover .money {
  color: var(--color-primary);
}

header .right .profile:hover .more {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

header .right .profile .info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}

header .right .profile .info>div {
  display: -webkit-flex;
  display: flex;
}

header .right .profile .info .top {
  gap: 10px;
}

header .right .profile .info .top .nick {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  color: var(--font-primary);
}

header .right .profile .info .top .level {
  cursor: pointer;
  width: 30px;
}

header .right .profile .info .bottom {
  display: -webkit-flex;
  display: flex;
  gap: 6px;
}

header .right .profile .info .bottom .money {
  cursor: pointer;
  transition: color 0.2s ease-out;
}

header .right .profile .info .bottom .more {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

header .right .profile .info .bottom .more img {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

header .right .profile .info .bottom .menu {
  display: -webkit-flex;
  display: flex;
  gap: 4px;
} */

.btn-refresh-cash {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  transform: scale(1.5);
  width: 1em;
}

.btn-refresh-cash img {
  height: 1em;
  padding: 0.2em;
  filter: hue-rotate(45deg);
}

.btn-refresh-cash.on {
  pointer-events: none;
}

.btn-refresh-cash.on img {
  animation: rotation 1s infinite linear;
  -webkit-animation: rotation 1s infinite linear;
}

/* header .right .profile .header_game {
  position: absolute;
  left: 0;
  margin-top: -2px;
}

header .right .profile .header_game .warp_nav {
  width: 100%;
  max-width: 1200px;
  padding-top: 1em;
}

header .right .profile .header_game .games_list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  margin-right: 1em;
}

header .right .profile .header_game .games_list.menu {
  padding-top: 1em;
}

header .right .profile .header_game .games_list.menu .game_item {
  padding: 0 16px;
  width: 100%;
}

header .right .profile .header_game .games_list.menu .game_item .top {
  position: relative;
  margin-right: auto;
} */

/* header .right .profile .header_game .games_list.menu .game_item .top::after {
  content: "";
  display: block;
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--color-primary);
  border-radius: 5px;
  transition: 0.2s all;
}

header .right .profile .header_game .games_list.menu .game_item:hover {
  background: none;
}

header .right .profile .header_game .games_list.menu .game_item:hover .top::after {
  width: 100%;
}

header .right .profile .header_game .games_list.menu .item_text {
  padding: 1em;
}

header .right .profile .header_game .games_list .item_text {
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
}

header .right .profile:hover .header_game {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: initial;
} */

#app {
  position: relative;
}

#app {
  width: 100%;
  min-width: var(--min-width);
  background-position: center;
  background-size: cover;
  background: #ffffff url('/images/win1/common/bg_container_1.jpg?v=1') no-repeat center top;
  background-repeat: no-repeat;
/* background-color: #F3F4F7; */
}

#app>div {
  width: 100%;
  min-width: var(--min-width);
}

#app .container {
  margin: 0 auto;
  width: 1200px; /* 1200px */
}

#app .title-line {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
}

#app .title-line .title {
  font-size: 20px;
  font-weight: 700;
  color: var(--fg-footer);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-right: 1em;
}

#app .title-line .title span {
  font-size: 1.2em;
  font-weight: 700;
  white-space: nowrap;
}

#app .title-line .line {
  height: 2px;
  background-color: var(--fg-footer);
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#app .title-line .line:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--fg-footer);
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#app .list-wrap {
  margin-top: 20px;
}


#app .list-wrap ul.imgList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 15px;
}

#app .list-wrap ul.imgList li.goPromotion {
  width: 100%;
  transition: .4s ease-out;
  position: relative;
  border: 1px solid #8b9bac;
  background-color: #000;
  border-radius: 12px;
  animation-name: fadeInUp;
}

#app .list-wrap ul.imgList li.goPromotion .upZone {
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  cursor: pointer
}

#app .list-wrap ul.imgList li.goPromotion .upZone img {
  width: 100%;
  height: auto;
  transition: .4s ease-out
}

#app .list-wrap ul.imgList li.goPromotion:hover .upZone img {
  transform: scale(1.1)
}

#app .list-wrap ul.imgList li.goPromotion .bottomZone {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

#app .list-wrap ul.imgList li.goPromotion .bottomZone h3 {
  font-size: 1vw;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 16vw; */
}

#app .list-wrap ul.imgList li.goPromotion .bottomZone h2 {
  font-size: .8vw;
  margin-bottom: 15px;
  display: none
}

#app .list-wrap ul.imgList li.goPromotion .bottomZone .btnP {
  padding: 10px;
  text-decoration: none;
  background-color: #0b7bb3;
  border-radius: 20px;
  font-size: .6vw;
  cursor: pointer;
  transition: .3s ease-out
}

#app .list-wrap ul.imgList li.goPromotion .bottomZone .btnP:hover {
  background-color: #1da8ed;
}

/*--------------------
	Loading Spinner
----------------------*/
.wrapper_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.loading-box {
  z-index: 1;
  background-color: #484848b8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 10px;
}

.loading-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}

.loading-box .loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(32, 64, 120, 0.1019607843);
  margin-left: -120px;
  margin-top: -120px;
}

.loading-box .loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 170px;
  margin-left: -80px;
  margin-top: -80px;
  overflow: hidden;
  -webkit-transform-origin: 120px 120px;
  transform-origin: 80px 80px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}

.loading-box .loader-line-mask .loader-line {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
}

.loading-box .logo {
  width: 100%;
  height: auto;
  margin-top: -15px;
  margin-bottom: 15px;
  vertical-align: middle;
  text-align: center;
}

.loading-box .logo img {
  width: 64px;
  height: 64px;
}

.loading-box .jump {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: jump 0.5s linear alternate infinite;
  animation: jump 0.5s linear alternate infinite;
}

.loading-box h1.loader_sports {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  letter-spacing: 6px;
}

.loading-box h1.loader_sports span {
  display: inline-block;
  text-shadow: 0 0 2px white, 0 15px 25px rgba(0, 0, 0, 0.3), 0 0 20px rgba(153, 111, 240, 0.45);
  -webkit-animation: heartbeat 4s infinite;
  animation: heartbeat 4s infinite;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  font-size: 1.2em;
}

/*-----------------
	Parsley error list
--------------------*/
ul.parsley-errors-list li {
  font-size: 1em;
  color: var(--color-error);
  text-align: left;
  margin-top: 2px;
  position: relative;
  height: 1.5em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

ul.parsley-errors-list li::before {
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAWlBMVEUAAAD9Wlr+WVv9WVr9WVv9Wlr9Wlr/WVj8Wlr/V2D8Wlr8Wlr8Wlr1W2P1XVr/V1z/W1D9Wlr9WVz/WVj6W1j/WlT/V1z+WV76Wl36W1r6WmH9WGHyXWPxXWhVn2zoAAAAEXRSTlMAmhvzbNm2+fnyzsStTk6abjU4v4AAAADzSURBVCjPdZLZcoQgEEVbNnVGnbndgLjk/38zSGE0lcl5garD0lyaKso4q7V1RtEd9WpRaZubGvso8CiI6IkqZtuKqITwruu3NaW0LBgGAN6HEMoe1W8pMWN5Ej2zOYRWWbxiTBxj5IaoAc/sPSTPVSvyS8zIolVkACwQAYoAMw4MOXifL0YVJ45sGf8IS/qz0DcxEA2XuB3VGdPdjnL4iCvl1iKtxVVueaDHPDMeRA/wNksAdypXIhI8n6JEwkcKpLSEUDJ/HhmK3/e1L581hVBNydbvX+tIhXcQEZzwuhqqTPoSzP1IP6imPUVXm+Hf9vkGlpkb2uKPClEAAAAASUVORK5CYII=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*-----------------
	Pagination
--------------------*/
.pgn-off {
  display: none !important;
}

.paging_box {
  font-size: 0.9em;
  position: relative;
  text-align: center;
  min-height: 30px;
  margin: 15px auto;
}

.paging_box .left {
  position: absolute;
  top: 0;
  left: 0;
}

.paging_box .right {
  position: absolute;
  top: 0;
  right: 0;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  vertical-align: top;
}

.pagination>li {
  display: inline-block;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  margin: 3px;
  border-radius: 5px;
  float: left;
  background: white;
  border: 1px solid;
  border-color: var(--stroke-primary);
  padding: 0 1em;
  line-height: 2.5em;
  text-decoration: none;
  color: var(--font-secondary);
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  /* border-color:#ddd; */
}

.pagination>li.active>a, .pagination>li.active>a:focus, .pagination>li.active>a:hover, .pagination>li.active>span, .pagination>li.active>span:focus, .pagination>li.active>span:hover {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  cursor: default;
  border-color: var(--bg-primary);
}

.pagination>li.disabled>a, .pagination>li.disabled>a:focus, .pagination>li.disabled>a:hover, .pagination>li.disabled>span, .pagination>li.disabled>span:focus, .pagination>li.disabled>span:hover {
  color: var(--font-disabled);
  cursor: not-allowed;
}

footer {
  min-width: var(--min-width);
  position: relative;
  border-top: 1px solid var(--gray-09);
  background: #303030;
}

footer .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 10px;
  margin: 0 auto;
  width: 100%;
}

footer .container .img-wrap {
  width: 90%;
  border-bottom: 1px solid var(--gray-09);
  padding-bottom: 19px;
  margin-top: 19px;
  display: -webkit-flex;
  display: flex;
  gap: 12px;
}

footer .container .img-wrap #footer-slick {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

footer .container .img-wrap #footer-slick .slick-list .slick-track .slick-slide {
  margin-right: 32px;
}

footer .container .img-wrap #footer-slick .slick-list .slick-track img {
  height: 30px;
}

footer .container .etc {
  width: 90%;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #2b2b2b;
  margin-bottom: 2px;
}

footer .container .etc .left {
  width: 29%;
}

footer .container .etc .left .logo {
  margin-bottom: 6px;
  width: 183px;
  -webkit-mask-image: url(../images/common/logo.png);
  mask-image: url(../images/common/logo.png);
  background: var(--color-success);
  margin-top: 6px;
}

footer .container .etc .left .txt {
  color: var(--fg-footer);
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 12px;
  text-align: justify;
}

footer .container .etc .right {
  width: 70%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: self-start;
  align-items: self-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

footer .container .etc .right .centerZone {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}

footer .container .etc .right .centerZone .content {
  width: 90%;
}

footer .container .etc .right .centerZone .content ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

footer .container .etc .right .centerZone .content ul li {
  width: 33%;
  background-color: #303030;
  cursor: pointer;
  padding: 9px 0;
  margin: 0 6px;
  position: relative;
  transition: 0.3s all ease-out;
  display: block;
  /* opacity: 0.8; */
  border: 2px solid var(--fg-footer);
  border-radius: 5px;
}

footer .container .etc .right .centerZone .content ul li:hover {
  opacity: 1;
}

footer .container .etc .right .centerZone .content ul li a {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  gap: 12px;
}

footer .container .etc .right .centerZone .content ul li a span {
  text-align: center;
  color: var(--fg-footer);
  font-size: 40px;
  display: block;
  margin-bottom: 0.1vw;
  transition: 0.4s ease-out;
}

footer .container .etc .right .centerZone .content ul li a .txt {
  color: var(--fg-footer);
  font-size: 16px;
  margin-bottom: 0;
  transition: 0.4s ease-out;
  text-align: center;
  margin-top: 7px;
  line-height: 1;
}

footer .container .etc .right .rightZone01 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 60%;
  display: -webkit-flex;
  display: flex;
  margin-top: 4px;
}

footer .container .etc .right .rightZone01 .links .title {
  color: var(--fg-footer);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}

footer .container .etc .right .rightZone01 .links .content {
  display: -webkit-flex;
  display: flex;
}

footer .container .etc .right .rightZone01 .links .content .left01 {
  margin-right: 28px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

footer .container .etc .right .rightZone01 .links .content a {
  color: var(--fg-footer);
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

footer .container .etc .right .rightZone01 .links .content a:hover {
  color: var(--fg-primary);
}

.text {
  margin-top: 27px;
  padding-bottom: 33px;
  text-align: center;
  font-size: 12px;
  color: var(--fg-footer);
}

a.item {
  color: var(--fg-primary);
  cursor: pointer;
}

a.item:hover, a.item.active {
  color: var(--color-primary);
}

table.styled>thead th {
  padding: 0.6em 0;
  font-size: 1.1em;
  font-weight: 400;
  border-bottom: 1px solid var(--stroke-secondary);
  position: relative;
}

table.styled tr {
  background-color: var(--font-secondary);
  transition: 0.4s ease-out;
  height: 3.5em;
}

table.styled tr:nth-child(even) {
  background-color: var(--gray-00);
}

table.styled tr:hover:not(thead > tr) {
  background-color: #222222cc;
}

table.styled thead tr {
  height: initial;
}

table.styled th, table.styled td {
  vertical-align: middle;
}

table.styled td a {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

table.styled td a:hover, table.styled td a.active {
  color: var(--color-primary);
  font-weight: 500;
}

table.styled td img.logo {
  width: auto;
  margin: 0 auto;
  max-width: min(100%, 75px);
}

table.styled+.tb_empty {
  border: 1px solid var(--border);
  background-color: rgba(255, 255, 255, 0.5);
}

.tb_empty {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  padding: 70px;
}

.tb_empty .pic img {
  -webkit-filter: hue-rotate(32deg);
  filter: hue-rotate(32deg);
}

.tb_empty h2 {
  color: var(--color-third);
  font-weight: 400 !important;
  font-size: 36px;
  margin-top: 17px;
}

.tb_empty h3 {
  color: var(--font-secondary);
  font-weight: 400 !important;
  font-size: 24px;
  margin-top: 8px;
}

/*---------------------------
  Provider Button icons
-----------------------------*/
.btn-vendor .icon-masked {
  -webkit-mask-image: var(--bg-url);
  mask-image: var(--bg-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background: var(--gradient-primary);
  width: 75%;
  height: 100%;
}

.btn-vendor:hover .icon-masked, .btn-vendor.active .icon-masked {
  background: white;
}

.img-overlay {
  -webkit-mask-image: var(--bg-url);
  mask-image: var(--bg-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background: var(--gradient-primary);
}

.img-overlay>img {
  visibility: hidden;
}

/*---------------------------
  Custom animations
-----------------------------*/
.animated {
  -webkit-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;
}

.animated.slideInleft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.animated.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.animated.fadeIn {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.jump {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: jump 0.5s linear alternate infinite;
  animation: jump 0.5s linear alternate infinite;
}

.animated.heartbeat {
  -webkit-animation: heartbeat 4s infinite;
  animation: heartbeat 4s infinite;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.animated.delay2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  visibility: hidden;
}

.animated.delay4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  visibility: hidden;
}

.animated.delay8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  visibility: hidden;
}

.animated.delay5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  visibility: hidden;
}

.animated.delay10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  visibility: hidden;
}

.animated.delay15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  visibility: hidden;
}

@-webkit-keyframes cf_cv {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3D(-10px, 10px, 0);
    transform: translate3D(-10px, 10px, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes cf_cv {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3D(-10px, 10px, 0);
    transform: translate3D(-10px, 10px, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes cf_c5 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cf_c5 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cf_cr {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3D(10px, -10px, 0);
    transform: translate3D(10px, -10px, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes cf_cr {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3D(10px, -10px, 0);
    transform: translate3D(10px, -10px, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes cf_cp {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cf_cp {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: visible;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: visible;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotationR {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotationR {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes prev_animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes prev_animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes selected_animation {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes selected_animation {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pc_Kk {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pc_Kk {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  15% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  15% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#btn_top {
  display: none;

  /* width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background: url('/win/images/common/scroll-top.svg') no-repeat center #E59900;
  background-size: 70%;
  z-index: 999; */
}